{template 'header.html'}<div class="view-html">
	<div class="container-fluid clearfix layout_994943">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="column visual-slide">
				{template 'system/slide.html'}
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_794463">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="tag text-center">
				{tag_首页第一行栏目}
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_186539 text-center">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="container clearfix layout_361834">
				<div class="row column">
					<div class="clearfix">
					</div>
					<div class="col-sm-6 col-md-3 layout_695889">
						<div class="row column">
							<div class="clearfix">
							</div>
							<div class="tag">
								{tag_首页第一行子栏目一}
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 layout_911635">
						<div class="row column">
							<div class="clearfix">
							</div>
							<div class="tag">
								{tag_首页第一行子栏目二}
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 layout_719771">
						<div class="row column">
							<div class="clearfix">
							</div>
							<div class="tag">
								{tag_首页第一行子栏目三}
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 layout_470950">
						<div class="row column">
							<div class="clearfix">
							</div>
							<div class="tag">
								{tag_首页第一行子栏目四}
							</div>
						</div>
					</div>
					<div class="clearfix layout_377215">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_236155">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="tag text-center">
				{tag_首页第二行栏目}
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_894184">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="container clearfix layout_813502">
				<div class="row column">
					<div class="clearfix">
					</div>
					<div class="tag">
						{tag_首页第二行图文列表}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_225058">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="tag text-center">
				{tag_首页第三行栏目}
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_931408">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="container clearfix layout_384845">
				<div class="row column">
					<div class="clearfix">
					</div>
					<div class="col-md-6 layout_988282">
						<div class="row column">
							<div class="column visual-text">
								<p>
									易通企业网站系统也称企业网站程序，系统前台生成html、完全符合SEO、同时有在线客服、潜在客户跟踪、便捷的企业网站管理、搜索引擎推广等功能。
								</p>
								<div class="clearfix">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 layout_920295">
						<div class="row column">
							<div class="column visual-video">
								<iframe src="ckplayer.php?url=" width="100%" height="100%">
								</iframe>
								<div class="clearfix">
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix layout_66080">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_140521">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="tag text-center">
				{tag_首页第四行栏目}
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_799195 text-center">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="container clearfix layout_923608">
				<div class="row column">
					<div class="clearfix">
					</div>
					<div class="tag">
						{tag_首页第四行图片列表}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_237426">
		<div class="row column">
			<div class="clearfix">
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_749194">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="tag text-center">
				{tag_第六行栏目}
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_600234" style="margin-bottom: 30px;">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="container clearfix layout_215766">
				<div class="row column">
					<div class="clearfix">
					</div>
					<div class="tag">
						{tag_第六行图片列表}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{template 'footer.html'}