{php $sps = plugins::specialinfo($_spid,$_spname,$_subtitle,$_spcontent,$_len,$_spimage)}
{loop $sps $sp}

<div class="t1">
{if $sp['banner']}<div class="img-auto">
<img alt="{$sp['title']}" src="{$sp['banner']}" class="img-responsive" data-src="{$sp['banner']}" onerror='this.src="{config::get('onerror_pic')}"' />
</div>{/if}
<a href="{$sp['url']}" title="{$sp['title']}">{$sp['title']}</a>
{if $sp['subtitle']}<p>{$sp['subtitle']}</p>{/if}
{if $sp['description']}<p>
        {$sp['description']}
    </p>{/if}
</div>

{/loop}