





































<div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_262063">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
                                            <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/pictures.png">
<p>内页幻灯</p>
                                            </div>
                                            <div class="view">
<div class="column visual-slide ui-sortable">
                                                <div class="custtag" rel="template 'system/cslide.html'">
                                                    
<!-- Bootstrap bootstrap-touch-cslider Slider Main Style Sheet -->
      

<div id="bootstrap-touch-cslider" class="carousel bs-slider fade control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">

<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#bootstrap-touch-cslider" data-slide-to="0" class=""></li>
        <li data-target="#bootstrap-touch-cslider" data-slide-to="1" class="active"></li>
        <li data-target="#bootstrap-touch-cslider" data-slide-to="2" class=""></li>
<li data-target="#bootstrap-touch-cslider" data-slide-to="3" class=""></li>
<li data-target="#bootstrap-touch-cslider" data-slide-to="4" class=""></li>
 

</ol>

<!-- Wrapper For Slides -->
<div class="carousel-inner" role="listbox">


 
<!-- Second Slide -->
<div class="item">
<!-- Slide Background -->
<img src="/images/banner/s1.jpg" alt="助力企业网络营销" class="slide-image">
</div>
<!-- End of Slide -->

<!-- Second Slide -->
<div class="item active">
<!-- Slide Background -->
<img src="/images/banner/s2.jpg" alt="服务/售后/程序多重升级" class="slide-image">
</div>
<!-- End of Slide -->


<!-- Second Slide -->
<div class="item">
<!-- Slide Background -->
<img src="/images/banner/s3.jpg" alt="欢迎网建公司及工作室参与分享计划" class="slide-image">
</div>
<!-- End of Slide -->

<!-- Second Slide -->
<div class="item">
<!-- Slide Background -->
<img src="/images/banner/s4.jpg" alt="免费下载还有机会获取商业授权！" class="slide-image">
</div>
<!-- End of Slide -->

<!-- Second Slide -->
<div class="item">
<!-- Slide Background -->
<img src="/images/banner/s5.jpg" alt="助力企业网络营销" class="slide-image">
</div>
<!-- End of Slide -->

 
</div><!-- End of Wrapper For Slides -->


</div><div class="clearfix"></div>
                                                </div>
</div>
                                            </div>
                                        </div></div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_67908" style="margin-top: 15px; margin-bottom: 15px;">
<div class="row column ui-sortable">

<div class="lyrow container position-move ui-draggable box-layout" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix layout_863630">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
                                           <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
   <span class="drag label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog"></i>
    </span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/notifications.png">
<p>路径导航</p>
                                            </div>
                                            <div class="view">
<div class="column visual-category-notifications ui-sortable">
                                                <nav class="sub_menu custtag" rel="template 'position.html'">
                                                    <ol class="breadcrumb"><span class="glyphicon glyphicon-list"></span>
                                                        <li><a>网站首页</a></li>
                                                        <li><a>栏目</a></li>
                                                        <li><a>子栏目</a></li>
                                                    </ol>

                                                </nav>
<div class="clearfix"></div>
</div>
                                </div>
                                        </div></div>
</div>
</div>
</div><div class="clearfix"></div>
</div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_338152">
<div class="row column ui-sortable">

<div class="lyrow container position-move ui-draggable box-layout clearfix" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix layout_392307">
<div class="row column ui-sortable">


<div class="box box-element ui-draggable" style="">

  <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog" title="属性"></i></span>


<span class="drag label label-default btn-tag-config" data-target="#template-list-tag" role="button" data-toggle="modal" title="设置">
            <i class="glyphicon glyphicon-pencil"></i></span>

    <div class="preview">
        <img src="/images/admin/visual/section/content_list.png">
        <p>列表</p>
    </div>
    <div class="view"><div class="codearea text-center">
<div class="row">
    #[#loop $archives $i $archive#]#
	#[#if $i%3==0#]#<div class="clearfix"></div>#[#else#]##[#/if#]#
   <div class="post-masonry col-xs-12 col-sm-6 col-md-4">
				<a href="#[#$archive['url']#]#" class="img-auto">
				<img class="img-responsive" alt="#[#$archive['stitle']#]#" src="#[#$archive['thumb']#]#" onerror="onerror_pic(this)">
				<h4>#[#$archive['title']#]#</h4>
				</a>
				</div>
    #[#/loop#]#
    <div class="clearfix"></div>
	</div>
</div>
<div class="viewarea text-center">
    <div class="row">

<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-1.jpg" class="img-responsive">
<h4>内容标题一</h4>
</a>
</div>

<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-2.jpg" class="img-responsive">
<h4>内容标题二</h4>
</a>
</div>

<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-3.jpg" class="img-responsive">
<h4>内容标题三</h4>
</a>
</div>

<div class="clearfix"></div>

<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-4.jpg" class="img-responsive">
<h4>内容标题四</h4>
</a>
</div>



<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-5.jpg" class="img-responsive">
<h4>内容标题五</h4>
</a>
</div>

<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-6.jpg" class="img-responsive">
<h4>内容标题六</h4>
</a>
</div>

<div class="clearfix"></div>

<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-7.jpg" class="img-responsive">
<h4>内容标题七</h4>
</a>
</div>

<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-8.jpg" class="img-responsive">
<h4>内容标题八</h4>
</a>
</div>
    
    <div class="clearfix"></div>

	</div>
</div></div>
</div></div>
</div>
</div>
</div><div class="clearfix"></div>
</div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout clearfix" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_296434">
<div class="row column ui-sortable">


<div class="lyrow container position-move ui-draggable box-layout clearfix" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix layout_480985">
<div class="row column ui-sortable">


<div class="box box-element ui-draggable" style="">
                                           <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
  <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/pages.png">
<p>分页</p>
                                            </div>
                                            <div class="view">
<div class="column visual-list-page ui-sortable">
                                                <div class="codearea">

                                                    #[#if isset($pages)#]#
                                                    <div class="blank30"></div>
                                                    #[#category_pagination($catid)#]#
                                                    <div class="blank30"></div>
                                                    #[#/if#]#
<div class="clearfix"></div>
                                                </div>
                                                <div class="viewarea">
               

<nav>
<ul class="pagination">
<li class="active"><a>1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li><a href="#">6</a></li>
<li><a href="#">7</a></li>
<li><a href="#">8</a></li>
<li><a href="#l" aria-label="Next"><span aria-hidden="true">»</span></a></li>
</ul>
</nav>
<div class="clearfix"></div>
</div>
                                           
                                            </div>
                                        </div>
</div></div>
</div>
</div>
</div></div>
</div>
</div>
</div>