













<div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_262063">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
                                            <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/pictures.png">
<p>内页幻灯</p>
                                            </div>
                                            <div class="view">
<div class="column visual-slide ui-sortable">
                                                <div class="custtag" rel="template 'system/cslide.html'">
                                                    
<!-- Bootstrap bootstrap-touch-cslider Slider Main Style Sheet -->
      

<div id="bootstrap-touch-cslider" class="carousel bs-slider fade control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">

<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#bootstrap-touch-cslider" data-slide-to="0" class=""></li>
        <li data-target="#bootstrap-touch-cslider" data-slide-to="1" class="active"></li>
        <li data-target="#bootstrap-touch-cslider" data-slide-to="2" class=""></li>
<li data-target="#bootstrap-touch-cslider" data-slide-to="3" class=""></li>
<li data-target="#bootstrap-touch-cslider" data-slide-to="4" class=""></li>
 

</ol>

<!-- Wrapper For Slides -->
<div class="carousel-inner" role="listbox">


 
<!-- Second Slide -->
<div class="item">
<!-- Slide Background -->
<img src="/images/banner/s1.jpg" alt="助力企业网络营销" class="slide-image">
</div>
<!-- End of Slide -->

<!-- Second Slide -->
<div class="item active">
<!-- Slide Background -->
<img src="/images/banner/s2.jpg" alt="服务/售后/程序多重升级" class="slide-image">
</div>
<!-- End of Slide -->


<!-- Second Slide -->
<div class="item">
<!-- Slide Background -->
<img src="/images/banner/s3.jpg" alt="欢迎网建公司及工作室参与分享计划" class="slide-image">
</div>
<!-- End of Slide -->

<!-- Second Slide -->
<div class="item">
<!-- Slide Background -->
<img src="/images/banner/s4.jpg" alt="免费下载还有机会获取商业授权！" class="slide-image">
</div>
<!-- End of Slide -->

<!-- Second Slide -->
<div class="item">
<!-- Slide Background -->
<img src="/images/banner/s5.jpg" alt="助力企业网络营销" class="slide-image">
</div>
<!-- End of Slide -->

 
</div><!-- End of Wrapper For Slides -->


</div><div class="clearfix"></div>
                                                </div>
</div>
                                            </div>
                                        </div></div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_67908" style="margin-top: 15px; margin-bottom: 15px;">
<div class="row column ui-sortable">

<div class="lyrow container position-move ui-draggable box-layout" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix layout_863630">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
                                           <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
   <span class="drag label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog"></i>
    </span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/notifications.png">
<p>路径导航</p>
                                            </div>
                                            <div class="view">
<div class="column visual-category-notifications ui-sortable">
                                                <nav class="sub_menu custtag" rel="template 'position.html'">
                                                    <ol class="breadcrumb"><span class="glyphicon glyphicon-list"></span>
                                                        <li><a>网站首页</a></li>
                                                        <li><a>栏目</a></li>
                                                        <li><a>子栏目</a></li>
                                                    </ol>

                                                </nav>
<div class="clearfix"></div>
</div>
                                </div>
                                        </div></div>
</div>
</div>
</div><div class="clearfix"></div>
</div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout clearfix" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_459499">
<div class="row column ui-sortable">


<div class="lyrow container position-move ui-draggable box-layout clearfix" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix layout_389605">
<div class="row column ui-sortable">


<div class="box box-element ui-draggable" style="">
                                            <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/map.png">
<p>地图</p>
                                            </div>
                                            <div class="view">
<div class="column visual-ditu ui-sortable">
                                                <div class="custtag" rel="template 'ditu.html'">
<center><img src="/images/admin/visual/section/map.jpg" class="img-responsive" style="width:100%"></center>
<div class="clearfix"></div>
                                                </div>
                                            </div>
</div>
                                        </div></div>
</div>
</div>
</div></div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout clearfix" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_744195">
<div class="row column ui-sortable">


<div class="lyrow container position-move ui-draggable box-layout clearfix" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix layout_758064">
<div class="row column ui-sortable">


<div class="box box-element ui-draggable" style="">
                                           <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/evel.png">
<p>水平线</p>
                                            </div>
                                            <div class="view">
                                                <div class="hr" style="margin-top: 30px; margin-bottom: 30px;">
</div>
                                            </div>
                                        </div></div>
</div>
</div>
</div></div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout clearfix" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_807225">
<div class="row column ui-sortable">


<div class="lyrow container position-move ui-draggable box-layout clearfix" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix layout_868413">
<div class="row column ui-sortable">


<div class="box box-element ui-draggable" style="">
<a href="#close" class="remove label label-danger" title="删除">
<i class="glyphicon-remove glyphicon">
</i>
</a>
<span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>

<div class="preview">
<img src="/images/admin/visual/section/content.png">
<p>
栏目文字
</p>
</div>
<div class="view">

<div class="column visual-category-content" style="margin-bottom: 30px;">
<div class="codearea">
#[#$category[$catid]['categorycontent']#]#
<div class="clearfix"></div>
                                                </div>
                                                <div class="viewarea">

内容与形式是辩证法的一对基本范畴。内容是事物一切内在要素的总和。形式是这些内在要素的结构和组织方式。例如，社会各阶级在国家中的地位是国家的内容，统治阶级如何组织国家政权机关则是国家的形式。内容和形式是辩证的统一。任何事物既有其内容，也有其形式，不存在无内容的形式，也没有无形式的内容，内容决定形式，形式服从内容，并随内容的变化而变化。形式对内容又有反作用，形式适合内容，就促进内容的发展，形式不适合内容，则阻碍内容的发展。内容和形式之间存在着差别和矛盾。内容是经常变化的，形式比较相对稳定，形式往往落后于内容，从而造成新内容与旧形式之间的矛盾。内容和形式的差别又是相对的。
<div class="clearfix"></div>
</div>
      





</div>
</div>
</div></div>
</div>
</div>
</div></div>
</div>
</div>
</div>