



















<div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_262063">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
                                            <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/pictures.png">
<p>内页幻灯</p>
                                            </div>
                                            <div class="view">
<div class="column visual-slide ui-sortable">
                                                <div class="custtag" rel="template 'system/cslide.html'">
                                                    
<!-- Bootstrap bootstrap-touch-cslider Slider Main Style Sheet -->
      

<div id="bootstrap-touch-cslider" class="carousel bs-slider fade control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">

<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#bootstrap-touch-cslider" data-slide-to="0" class=""></li>
        <li data-target="#bootstrap-touch-cslider" data-slide-to="1" class=""></li>
        <li data-target="#bootstrap-touch-cslider" data-slide-to="2" class=""></li>
<li data-target="#bootstrap-touch-cslider" data-slide-to="3" class=""></li>
<li data-target="#bootstrap-touch-cslider" data-slide-to="4" class="active"></li>
 

</ol>

<!-- Wrapper For Slides -->
<div class="carousel-inner" role="listbox">


 
<!-- Second Slide -->
<div class="item">
<!-- Slide Background -->
<img src="/images/banner/s1.jpg" alt="助力企业网络营销" class="slide-image">
</div>
<!-- End of Slide -->

<!-- Second Slide -->
<div class="item">
<!-- Slide Background -->
<img src="/images/banner/s2.jpg" alt="服务/售后/程序多重升级" class="slide-image">
</div>
<!-- End of Slide -->


<!-- Second Slide -->
<div class="item">
<!-- Slide Background -->
<img src="/images/banner/s3.jpg" alt="欢迎网建公司及工作室参与分享计划" class="slide-image">
</div>
<!-- End of Slide -->

<!-- Second Slide -->
<div class="item">
<!-- Slide Background -->
<img src="/images/banner/s4.jpg" alt="免费下载还有机会获取商业授权！" class="slide-image">
</div>
<!-- End of Slide -->

<!-- Second Slide -->
<div class="item active">
<!-- Slide Background -->
<img src="/images/banner/s5.jpg" alt="助力企业网络营销" class="slide-image">
</div>
<!-- End of Slide -->

 
</div><!-- End of Wrapper For Slides -->


</div><div class="clearfix"></div>
                                                </div>
</div>
                                            </div>
                                        </div></div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_67908" style="margin-top: 15px; margin-bottom: 15px;">
<div class="row column ui-sortable">

<div class="lyrow container position-move ui-draggable box-layout" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix layout_863630">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
                                           <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
   <span class="drag label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog"></i>
    </span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/notifications.png">
<p>路径导航</p>
                                            </div>
                                            <div class="view">
<div class="column visual-category-notifications ui-sortable">
                                                <nav class="sub_menu custtag" rel="template 'position.html'">
                                                    <ol class="breadcrumb"><span class="glyphicon glyphicon-list"></span>
                                                        <li><a>网站首页</a></li>
                                                        <li><a>栏目</a></li>
                                                        <li><a>子栏目</a></li>
                                                    </ol>

                                                </nav>
<div class="clearfix"></div>
</div>
                                </div>
                                        </div></div>
</div>
</div>
</div><div class="clearfix"></div>
</div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_338152">
<div class="row column ui-sortable">

<div class="lyrow container position-move ui-draggable box-layout" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix layout_106521">
<div class="row column ui-sortable">

<div class="lyrow box-div ui-draggable" style="">
    <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    	<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/layouts/3-9.png">
<p>3 9</p>
                                            </div>
                                            <div class="view" contenteditable="true">
                        
                                                    <div class="col-md-3 layout_629438">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
                                            <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/category_list.png">
<p>左侧栏目树</p>
                                            </div>
                                            <div class="view">
<div class="column visual-menu-list ui-sortable">
                                               <div class="codearea">




        <div id="metismenu">
            <ul class="metismenu" id="list-category">
                #[#loop categories_nav() $t#]#
                <li class="#[#if isset($topid) and $topid==$t['catid']#]#mm-active#[#/if#]#">
                    <a title=" #[#$t['catname']#]#" href=" #[#$t['url']#]#" aria-expanded="false"> #[#$t['catname']#]# #[#if count(categories($t['catid']))#]# <span class="glyphicon arrow"></span> #[#/if#]#</a>
 #[#if count(categories($t['catid']))#]#
                    <ul aria-expanded="false" class="mm-collapse">
 #[#loop categories_nav($t['catid']) $t1#]#
                        <li><a title=" #[#$t1['catname']#]#" href=" #[#$t1['url']#]#"> #[#$t1['catname']#]#</a> #[#if count(categories($t1['catid']))#]# <span class="fa plus-times"></span> #[#/if#]#
 #[#if count(categories($t1['catid']))#]#
                            <ul aria-expanded="false" class="mm-collapse">
 #[#loop categories_nav($t1['catid']) $t2#]#
                                <li><a title=" #[#$t2['catname']#]#" href=" #[#$t2['url']#]#"> #[#$t2['catname']#]#</a></li>
                                 #[#/loop#]#
                            </ul>
 #[#/if#]#
                        </li>
                         #[#/loop#]#
                    </ul>
 #[#/if#]#
                </li>
 #[#/loop#]#
            </ul>
        </div>
   <div class="clearfix"> </div>










                                                </div>
                                                <div class="viewarea">






    <div id="metismenu">
            <ul class="metismenu" id="list-category">
                
                <li class="active">
                    <a>一级栏目 <span class="glyphicon glyphicon-chevron-down"></span></a>
                    <ul aria-expanded="false">
                        <li><a>二级栏目</a></li>
                        <li><a>二级栏目</a></li>
                    </ul>
                </li>
                <li>
<a>一级栏目 <span class="glyphicon arrow"></span></a>
</li>
<li>
<a>一级栏目 <span class="glyphicon arrow"></span></a>
</li>
            </ul>
        </div>



<div class="clearfix"></div>


                                                </div>

                                            </div>
                                        </div>
</div><div class="box box-element ui-draggable" style="">
                                           <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/evel.png">
<p>水平线</p>
                                            </div>
                                            <div class="view">
                                                <div class="hr" style="margin-top: 15px; margin-bottom: 15px;">
</div>
                                            </div>
                                        </div><div class="box box-element ui-draggable" style="">
                                           <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
   <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/search.png">
<p>搜索</p>
                                            </div>
                                            <div class="view">
<div class="column visual-search ui-sortable">
                                                <form name="search" action="/index.php?case=archive&act=search" method="post" class="search">
                                                    <div class="col-lg-1"></div>
                                                    <div class="col-lg-10">
                                                        <div class="input-group">
                                                            <input type="text" name="keyword" class="form-control" placeholder="请输入查询信息！">
                                                            <span class="input-group-btn">
<button class="btn btn-default" name="submit" type="submit">搜索</button>
</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-1"></div>
                                                </form>
<div class="clearfix"></div>
</div>
                                            </div>
                                        </div><div class="box box-element ui-draggable" style="">
                                           <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/evel.png">
<p>水平线</p>
                                            </div>
                                            <div class="view">
                                                <div class="hr" style="margin-top: 15px; margin-bottom: 15px;">
</div>
                                            </div>
                                        </div><div class="box box-element ui-draggable" style="">
                                   <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
<span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                    <div class="preview">
                                        <img src="/images/admin/visual/section/text.png">
<p>文字</p>
                                    </div>
                                    <div class="view">

                                        <div class="column visual-text ui-sortable" contenteditable="true">
                                              <p>网站公告</p>
<div class="clearfix"></div>
                                        </div>
                        
</div>
                                </div><div class="box box-element ui-draggable" style="">
                                           <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/evel.png">
<p>水平线</p>
                                            </div>
                                            <div class="view">
                                                <div class="hr" style="margin-bottom: 20px;">
</div>
                                            </div>
                                        </div><div class="box box-element ui-draggable" style="">
    <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
    <span class="drag label label-default btn-tag-config" data-target="#template-announ-tag" role="button" data-toggle="modal" title="设置">
            <i class="glyphicon glyphicon-pencil"></i></span>

    <div class="preview">
        <img src="/images/admin/visual/section/announ.png">
        <p>公告</p>
    </div>
    <div class="view"><div class="column ui-sortable">
    <div class="codearea">
        <div class="announ-list">
            <ol>
                #[#loop announ(<var id="num">5</var>,<var id="title_len">20</var>,<var id="is_date">1</var>) $an#]#
                <li>
                    #[#if is_date#]#<p class="badge announ-date">#[#$an['adddate']#]#</p>#[#/if#]#
                    <p><a title="#[#$an['title']#]#" href="#[#$an['url']#]#" target="_blank">#[#$an['title']#]#</a></p>
                </li>
                #[#/loop#]#
            </ol>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="viewarea">
        <div class="visual-announ-list">
            <ol>
                                <li>
                    <p class="badge announ-date">2010-07-07</p>

                    <p><a title="热烈庆祝本公司网站构建成立！" href="/index.php?case=announ&act=show&id=1&admin_dir=admin&site=default" target="_blank">热烈庆祝本公司网站构建成立！</a></p>
                </li>
                            </ol>
        </div>
        <div class="clearfix"></div>
    </div>
</div></div>
</div><div class="box box-element ui-draggable" style="">
                                           <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/evel.png">
<p>水平线</p>
                                            </div>
                                            <div class="view">
                                                <div class="hr">
</div>
                                            </div>
                                        </div><div class="box box-element ui-draggable" style="position: relative; opacity: 1; z-index: 0;">
                                   <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
<span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                    <div class="preview">
                                        <img src="/images/admin/visual/section/text.png">
<p>文字</p>
                                    </div>
                                    <div class="view">

                                        <div class="column visual-text ui-sortable" contenteditable="true">
                                              <p>联系我们</p>
<div class="clearfix"></div>
                                        </div>
                        
</div>
                                </div><div class="box box-element ui-draggable" style="">
                                           <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/evel.png">
<p>水平线</p>
                                            </div>
                                            <div class="view">
                                                <div class="hr">
</div>
                                            </div>
                                        </div><div class="box box-element ui-draggable" style="">
    <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>

<span class="drag label label-default btn-pic-config" data-target="#template-contact-tag" role="button" data-toggle="modal" title="设置">
            <i class="glyphicon glyphicon-pencil"></i></span>



    <div class="preview">
        <img src="/images/admin/visual/section/contact.png">
        <p>联系</p>
    </div>
    <div class="view">
        <div class="column visual-contact ui-sortable">

            <p>地 址：<span class="custtag address" rel="config::get('address')">
        某某股份有限1111111公司        </span></p>

            <p>邮政编码：<span class="custtag postcode" rel="config::get('postcode')">
        136000        </span></p>

            <p>电 话：<span class="custtag tel" rel="config::get('tel')">
        400-400-4001        </span></p>

            <p>传 真：<span class="custtag fax" rel="config::get('fax')">
        400-400-4001        </span></p>

            <p>手机：<span class="custtag mobile" rel="config::get('mobile')">
        13298895000        </span></p>

            <p>邮 箱：<span class="custtag email" rel="config::get('email')">
        admin1111111@admin.com        </span></p>

            <p>投诉邮箱：<span class="custtag complaint_email" rel="config::get('complaint_email')">
        admin@admin.com        </span></p>


            <div class="clearfix"></div>
        </div>


    </div>
</div><div class="box box-element ui-draggable" style="">
                                           <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/evel.png">
<p>水平线</p>
                                            </div>
                                            <div class="view">
                                                <div class="hr">
</div>
                                            </div>
                                        </div></div>
                                                    </div>
                                                    <div class="col-md-9 layout_707078">
<div class="row column ui-sortable">

<div class="lyrow box-div ui-draggable" style="">
    <a href="#close" class="label label-danger remove" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/layouts/12.png">
<p>12</p>
                                            </div>
                                            <div class="view" contenteditable="true">
                                            
                                                    <div class="col-md-12 layout_127825" style="padding-left: 45px;">
<div class="row column ui-sortable">


<div class="box box-element ui-draggable" style="">

  <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog" title="属性"></i></span>


<span class="drag label label-default btn-tag-config" data-target="#template-list-tag" role="button" data-toggle="modal" title="设置">
            <i class="glyphicon glyphicon-pencil"></i></span>

    <div class="preview">
        <img src="/images/admin/visual/section/content_list.png">
        <p>列表</p>
    </div>
    <div class="view">

<div class="codearea">


<div id="timeline">
		#[#loop $archives $i $archive#]#

			<div class="timeline-item">
				<div class="timeline-icon">
					<span class="glyphicon glyphicon-time"></span>
				</div>
				<div class="timeline-content row#[#if $i%2==1#]# right#[#/if#]#">
					<h2>#[#$archive['title']#]#</h2>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
					<img class="img-responsive" alt="#[#$archive['stitle']#]#" src="#[#$archive['thumb']#]#" onerror="this.src="#[#config::get(" onerror_pic')#]#"'="">
					</div>
					<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">	
					<p>#[#cut(strip_tags($archive['introduce']),50)#]#</p>
					<a href="#[#$archive['url']#]#" class="btn">#[#lang('more')#]#</a>
					</div>
				</div>
			</div>
#[#/loop#]#

<div class="clearfix"></div>
</div>
</div>
<div class="viewarea">


<div id="timeline">
<div class="timeline-item">
<div class="timeline-icon">
<span class="glyphicon glyphicon-time"></span>
</div>
<div class="timeline-content row">
<h2>内容标题一</h2>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
<img class="img-responsive" src="./images/admin/visual/temp/section/section-pic-1.jpg">
</div>
<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
<p>内容简介又称内容大要、内容提要、内容摘要等。扼要介绍图书内容和读者对象的说明</p>
<a href="#" class="btn">了解更多</a>
</div>
</div>
</div>
<div class="timeline-item">
<div class="timeline-icon">
<span class="glyphicon glyphicon-time"></span>
</div>
<div class="timeline-content row right">
<h2>内容标题二</h2>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
<img class="img-responsive" src="./images/admin/visual/temp/section/section-pic-2.jpg">
</div>
<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
<p>内容简介又称内容大要、内容提要、内容摘要等。扼要介绍图书内容和读者对象的说明</p>
<a href="#" class="btn">了解更多</a>
</div>
</div>
</div>
<div class="timeline-item">
<div class="timeline-icon">
<span class="glyphicon glyphicon-time"></span>
</div>
<div class="timeline-content row">
<h2>内容标题三</h2>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
<img class="img-responsive" src="./images/admin/visual/temp/section/section-pic-3.jpg">
</div>
<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
<p>内容简介又称内容大要、内容提要、内容摘要等。扼要介绍图书内容和读者对象的说明</p>
<a href="#" class="btn">了解更多</a>
</div>
</div>
</div>
</div>



  <div class="clearfix"></div>
</div>

</div>
</div><div class="box box-element ui-draggable" style="position: relative; opacity: 1; z-index: 0;">
                                           <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
  <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/pages.png">
<p>分页</p>
                                            </div>
                                            <div class="view">
<div class="column visual-list-page ui-sortable">
                                                <div class="codearea">

                                                    #[#if isset($pages)#]#
                                                    <div class="blank30"></div>
                                                    #[#category_pagination($catid)#]#
                                                    <div class="blank30"></div>
                                                    #[#/if#]#
<div class="clearfix"></div>
                                                </div>
                                                <div class="viewarea">
               

<nav>
<ul class="pagination">
<li class="active"><a>1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li><a href="#">6</a></li>
<li><a href="#">7</a></li>
<li><a href="#">8</a></li>
<li><a href="#l" aria-label="Next"><span aria-hidden="true">»</span></a></li>
</ul>
</nav>
<div class="clearfix"></div>
</div>
                                           
                                            </div>
                                        </div>
</div></div>
                                                    </div>
                                     <div class="clearfix layout_876341" style="padding-left: 45px;"></div>
                                            </div>

                                        </div><div class="clearfix"></div>
</div>
                                                    </div>
                             <div class="clearfix layout_771955"></div>
                                            </div>
                                        </div><div class="clearfix"></div>
</div>
</div>
</div>
</div><div class="clearfix"></div>
</div>
</div>
</div>
</div>