















<div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix column layout_51402 ui-sortable" style="padding-top: 30px; padding-bottom: 30px; color: rgb(155, 155, 155); margin-top: 30px; background-color: rgb(51, 51, 51);">


<div class="lyrow container position-move ui-draggable box-layout" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix column layout_700906 ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
                                   <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
<span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                    <div class="preview">
                                        <img src="/images/admin/visual/section/text.png">
<p>文字</p>
                                    </div>
                                    <div class="view">

                                        <div class="column visual-text ui-sortable" contenteditable="true">
                                              <p>
                                            易通企业网站系统也称企业网站程序，系统前台生成html、完全符合SEO、同时有在线客服、潜在客户跟踪、便捷的企业网站管理、搜索引擎推广等功能。
                                        </p>
<div class="clearfix"></div>
                                        </div>
                        
</div>
                                </div></div>
</div>
</div><div class="lyrow container position-move ui-draggable box-layout" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix column layout_482188 ui-sortable" style="margin-top: 30px; margin-bottom: 30px;">

<div class="lyrow ui-draggable" style="">
                                    <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    	<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性" style="">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>			层属性
</span>
                                    <div class="preview">
                                        <input value="" placeholder="输入分格，和为12，例如：4 4 4" type="text" class="form-control">
                                    </div>
                                    <div class="view">
                                            <div class="col-md-12 layout_249012"><div class="col-md-3 column ui-sortable"><div class="box box-element ui-draggable" style="">
                                <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#template-category-tag" role="button" data-toggle="modal" title="设置"><i class="glyphicon glyphicon-pencil"></i></span>

                                <div class="preview">
                                     <img src="/images/admin/visual/section/tag_category.png">
<p> 栏目标签</p>
                                </div>
                                <div class="view"><div class="tag"><span class="removeClean tagname">{tag_页底栏目一}</span><dl class="foot-nav">
<dt><a href="/index.php?case=archive&act=list&catid=1" title="关于我们">关于我们</a><b></b></dt>
<dd><a href="/index.php?case=archive&act=list&catid=4" title="企业文化" target="_blank">企业文化</a></dd>
<dd><a href="/index.php?case=archive&act=list&catid=7" title="职位招聘" target="_blank">职位招聘</a></dd>
<dd><a href="/index.php?case=archive&act=list&catid=11" title="公司荣誉" target="_blank">公司荣誉</a></dd>
<dd><a href="/index.php?case=archive&act=list&catid=12" title="发展历程" target="_blank">发展历程</a></dd>
</dl>
</div></div>
                            </div></div><div class="col-md-3 column ui-sortable"><div class="box box-element ui-draggable" style="">
                                <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#template-category-tag" role="button" data-toggle="modal" title="设置"><i class="glyphicon glyphicon-pencil"></i></span>

                                <div class="preview">
                                     <img src="/images/admin/visual/section/tag_category.png">
<p> 栏目标签</p>
                                </div>
                                <div class="view"><div class="tag"><span class="removeClean tagname">{tag_页底栏目二}</span><dl class="foot-nav">
<dt><a href="/index.php?case=archive&act=list&catid=2" title="企业新闻">企业新闻</a><b></b></dt>
<dd><a href="/index.php?case=archive&act=list&catid=9" title="公司动态" target="_blank">公司动态</a></dd>
<dd><a href="/index.php?case=archive&act=list&catid=13" title="行业新闻" target="_blank">行业新闻</a></dd>
</dl>
</div></div>
                            </div></div><div class="col-md-3 column ui-sortable"><div class="box box-element ui-draggable" style="">
                                <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#template-category-tag" role="button" data-toggle="modal" title="设置"><i class="glyphicon glyphicon-pencil"></i></span>

                                <div class="preview">
                                     <img src="/images/admin/visual/section/tag_category.png">
<p> 栏目标签</p>
                                </div>
                                <div class="view"><div class="tag"><span class="removeClean tagname">{tag_页底栏目三}</span><dl class="foot-nav">
<dt><a href="/index.php?case=archive&act=list&catid=3" title="产品中心">产品中心</a><b></b></dt>
<dd><a href="/index.php?case=archive&act=list&catid=6" title="文档下载" target="_blank">文档下载</a></dd>
<dd><a href="/index.php?case=archive&act=list&catid=8" title="产品运营" target="_blank">产品运营</a></dd>
<dd><a href="/index.php?case=archive&act=list&catid=10" title="产品设计" target="_blank">产品设计</a></dd>
</dl>
</div></div>
                            </div></div><div class="col-md-3 column ui-sortable"><div class="box box-element ui-draggable" style="">
                                <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#template-category-tag" role="button" data-toggle="modal" title="设置"><i class="glyphicon glyphicon-pencil"></i></span>

                                <div class="preview">
                                     <img src="/images/admin/visual/section/tag_category.png">
<p> 栏目标签</p>
                                </div>
                                <div class="view"><div class="tag"><span class="removeClean tagname">{tag_页底栏目四}</span><dl class="foot-nav">
<dt><a href="/index.php?case=archive&act=list&catid=5" title="联系我们">联系我们</a><b></b></dt>
</dl>
</div></div>
                            </div></div></div>

    
                                    </div>
                                </div><div class="clearfix"></div>
</div>
</div>
</div><div class="lyrow container position-move ui-draggable box-layout" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix column layout_190959 ui-sortable">

<div class="lyrow ui-draggable" style="">
                                    <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    	<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性" style="">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>			层属性
</span>
                                    <div class="preview">
                                        <input value="" placeholder="输入分格，和为12，例如：4 4 4" type="text" class="form-control">
                                    </div>
                                    <div class="view">
                                            <div class="col-md-12 layout_823802"><div class="col-md-3 column ui-sortable"><div class="box box-element ui-draggable" style="">
    <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>

<span class="drag label label-default btn-pic-config" data-target="#template-contact-tag" role="button" data-toggle="modal" title="设置">
            <i class="glyphicon glyphicon-pencil"></i></span>



    <div class="preview">
        <img src="/images/admin/visual/section/contact.png">
        <p>联系</p>
    </div>
    <div class="view">
        <div class="column visual-contact ui-sortable" style="padding-left: 0px; margin-left: -30px; margin-right: 0px;">

            <p>地 址：<span class="custtag address" rel="config::get('address')">
        某某股份有限1111111公司        </span></p>

            <p>邮政编码：<span class="custtag postcode" rel="config::get('postcode')">
        136000        </span></p>

            <p>电 话：<span class="custtag tel" rel="config::get('tel')">
        400-400-4001        </span></p>

            <p>传 真：<span class="custtag fax" rel="config::get('fax')">
        400-400-4001        </span></p>

            <p>手机：<span class="custtag mobile" rel="config::get('mobile')">
        13298895000        </span></p>

            <p>邮 箱：<span class="custtag email" rel="config::get('email')">
        admin1111111@admin.com        </span></p>

            <p>投诉邮箱：<span class="custtag complaint_email" rel="config::get('complaint_email')">
        admin@admin.com        </span></p>


            <div class="clearfix"></div>
        </div>


    </div>
</div></div><div class="col-md-5 column ui-sortable"><div class="box box-element ui-draggable" style="">
                                           <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
   <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/comments.png">
<p>留言框</p>
                                            </div>
                                            <div class="view">
<div class="column visual-guestbook ui-sortable" style="padding-left: 0px;">
<div class="custtag" rel="callGuestbook()">
                                                    <script>
    $(function(){
        $('#frmGuestbookSubmit').submit(function() {
            if($('#nickname').val() == ''){
                alert("请输入用户名！");
                $('#nickname').focus();
                return false;
            }
            if($('#title').val() == ''){
                alert("请填写标题");
                $('#title').focus();
                return false;
            }
            if($('#guestemail').val() == ''){
                alert("请填写邮箱！");
                $('#guestemail').focus();
                return false;
            }
            if(!chkEmail($('#guestemail').val())){
                alert("邮箱格式不对");
                $('#guestemail').focus();
                return false;
            }
            if($('#guesttel').val() == ''){
                alert('请输入有效的手机号码！');
                $('#guesttel').focus();
                return false;
            }
            if(!chkMobile($('#guesttel').val())){
                alert("手机格式不对");
                $('#guesttel').focus();
                return false;
            }
            if($('#content').val() == ''){
                alert("请输入内容！");
                $('#content').focus();
                return false;
            }
        });
    });
</script>
<div class="visual-guestbook">
<form id="frmGuestbookSubmit" method="post" action="/index.php?case=guestbook&act=index&admin_dir=admin&site=default" name="frmGuestbookSubmit" class="form_message">

<div id="guestbook_name">
姓名<span>Name</span>
<input name="nickname" id="nickname" value="" class="guestbook_input">
</div>

<div id="guestbook_email">
邮 箱<span>Email</span>
<input name="guestemail" id="guestemail" value="" class="guestbook_input">
</div>
<div id="guestbook_tel">
联系电话<span>Tel</span>
<input name="guesttel" id="guesttel" value="" class="guestbook_input">
</div>

<div id="guestbook_title">
标题<span>Title</span>
<input type="text" name="title" id="title" value="" class="guestbook_input">
</div>

<div id="guestbook_textarea">
内容<span>Content</span>
<textarea id="content" name="content" class="guestbook_textarea"></textarea>
</div>




<input type="submit" name="submit" value="提交" class="guestbook_btn">
</form>
</div><div class="clearfix"></div>
                                                </div>
</div>
                                            </div>
                                        </div></div><div class="col-md-2 column ui-sortable"></div><div class="col-md-2 column ui-sortable"><div class="box box-element ui-draggable" style="">
                                           <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/qrcode.png">
<p>二维码</p>
                                            </div>
                                            <div class="view">
                                                <div class="codearea text-center">
<img src="#[#get('weixin_pic')#]#" alt="checkout" class="checkout">
</div>
<div class="viewarea text-center" alt="checkout" class="checkout">
<img src="images/w.gif">
</div>
                                            </div>
                                        </div><div class="box box-element ui-draggable" style="">
                                   <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
<span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                    <div class="preview">
                                        <img src="/images/admin/visual/section/text.png">
<p>文字</p>
                                    </div>
                                    <div class="view">

                                        <div class="column visual-text text-center ui-sortable" contenteditable="true" style="margin-top: 20px;">
                                              <p><span style="font-size: 16px; line-height: 24px; text-align: center;">关注</span><br style="font-size: 16px; line-height: 24px; text-align: center;"><span style="font-size: 16px; line-height: 24px; text-align: center;">官方微信</span><br></p>
<div class="clearfix"></div>
                                        </div>
                        
</div>
                                </div></div></div>

    
                                    </div>
                                </div><div class="clearfix"></div>
</div>
</div>
</div><div class="clearfix"></div>
</div>
</div>
</div>