<div class="lyrow ui-draggable" style="display: block;">
                                    <a href="#close" class="remove label label-danger">
                                        <i class="glyphicon-remove glyphicon">
                                        </i>
                                        删除
                                    </a>
                                    <span class="drag label label-default pull-right">
                                                <i class="glyphicon glyphicon-move">
                                                </i>
                                                拖动
                                            </span>
                                    <div class="preview">
                                        <input type="text" value="12" class="form-control" data-toggle="tooltip" data-placement="right" title="" data-original-title="可在输入框直接输入栅格数字，以空格间隔！">
                                    </div>
                                    <div class="view">
                                        <div class="row clearfix">
                                            <div class="col-md-12 column ui-sortable">
                                            </div>
                                        </div>
                                    </div>
                                </div>