{template 'header.html'}<div class="view-html">
	<div class="container-fluid clearfix layout_262063">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="column visual-slide">
				{template 'system/cslide.html'}
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_67908" style="margin-top: 15px; margin-bottom: 15px;">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="container clearfix layout_863630">
				<div class="row column">
					<div class="clearfix">
					</div>
					<div class="column visual-category-notifications">
						{template 'position.html'}
						<div class="clearfix">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_459499">
		<div class="row column">
			<div class="container clearfix layout_389605">
				<div class="row column">
					<div class="column visual-ditu">
						{template 'ditu.html'}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_744195">
		<div class="row column">
			<div class="container clearfix layout_758064">
				<div class="row column">
					<div class="hr" style="margin-top: 30px; margin-bottom: 30px;">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_807225">
		<div class="row column">
			<div class="container clearfix layout_868413">
				<div class="row column">
					<div class="column visual-category-content" style="margin-bottom: 30px;">
						{$category[$catid]['categorycontent']}
						<div class="clearfix">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{template 'footer.html'}