{template 'header.html'}<div class="view-html">
	<div class="container-fluid clearfix layout_262063">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="column visual-slide">
				{template 'system/cslide.html'}
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_67908" style="margin-top: 15px; margin-bottom: 15px;">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="container clearfix layout_863630">
				<div class="row column">
					<div class="clearfix">
					</div>
					<div class="column visual-category-notifications">
						{template 'position.html'}
						<div class="clearfix">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_338152">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="container clearfix layout_392307">
				<div class="row column">
					{loop categories($catid) $i $t}
					
					<div class="title">
						<h3>
							<a title="{$t['typename']}" href="{category::url($t['catid'])}">{$t['catname']}<small>{$t['htmldir']}</small></a>
						</h3>
						<p>
							{$t['subtitle']}
						</p> <span>——</span>
					</div>
					
					
					<div class="list-container">
						{loop archive($t['catid'],0,0,'0,0,0',20,'aid',4,false,0) $i $archive} {if $i%4==0}
						<div class="clearfix">
						</div>{else}{/if}
						<div class="post-masonry col-xs-12 col-sm-6 col-md-3">
							 <a href="{$archive['url']}" class="img-auto"><img class="img-responsive" alt="{$archive['stitle']}" src="{$archive['thumb']}" onerror="this.src="{config::get(" /></a>
							<h4>
								{$archive['title']}
							</h4>
						</div> {/loop}
						
						<div class="blank30">
						</div>
					</div>
					 {/loop}
					<div class="clearfix">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_296434">
		<div class="row column">
			<div class="container clearfix layout_480985">
				<div class="row column">
					<div class="column visual-list-page">
						{if isset($pages)}
						<div class="blank30">
						</div> {category_pagination($catid)}
						<div class="blank30">
						</div> {/if}
						<div class="clearfix">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{template 'footer.html'}