{template 'header.html'}<div class="view-html">
	<div class="container-fluid clearfix layout_262063">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="column visual-slide">
				{template 'system/cslide.html'}
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_67908" style="margin-top: 15px; margin-bottom: 15px;">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="container clearfix layout_863630">
				<div class="row column">
					<div class="clearfix">
					</div>
					<div class="column visual-category-notifications">
						{template 'position.html'}
						<div class="clearfix">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_564394 text-center text-bold" style="font-size: 20px; color: rgb(0, 0, 0); margin-top: 30px; margin-bottom: 15px;">
		<div class="row column">
			<div class="container clearfix layout_439253">
				<div class="row column">
					<div class="column visual-conent-title">
						<p class="content-title">
							{$archive['title']}
						</p>
						<div class="clearfix">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_610181" style="margin-top: 0px;">
		<div class="row column">
			<div class="container clearfix layout_148235 text-center text-bold" style="font-size: 20px; color: rgb(0, 0, 0);">
				<div class="row column">
					<div class="hr">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_369638" style="margin-top: 15px; margin-bottom: 15px;">
		<div class="row column">
			<div class="container clearfix layout_13448">
				<div class="row column">
					<div class="col-md-12 layout_455380">
						<div class="col-md-2 column">
						</div>
						<div class="col-md-8 column">
							<div class="column visual-conent-author visual-inline-block">
								<p class="content-author">
									 <span>{lang('author')}：</span>{$archive['author']}
								</p>
							</div>
							<div class="column visual-conent-adddate visual-inline-block" style="padding-left: 15px; padding-right: 15px;">
								<p class="content-adddate">
									 <span>{lang('adddate')}：</span>{$archive['adddate']}
								</p>
							</div>
							<div class="column visual-conent-source visual-inline-block">
								<p class="content-source">
									 <span>{lang('source')}：</span>{$archive['attr3']}
								</p>
							</div>
							<div class="column visual-category-statistics visual-inline-block" style="padding-left: 15px;">
								{lang('view')}：{view_js($archive['aid'])}
							</div>
						</div>
						<div class="col-md-2 column">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_617573" style="margin-top: 15px; margin-bottom: 15px;">
		<div class="row column">
			<div class="container clearfix layout_903271">
				<div class="row column">
					<div class="column visual-category-title">
						<div class="content_tools_box">
							<p class="content_tools">
								 <a href="javascript:CallPrint('print');">{lang('printcontent')}</a> <a href="javascript:doZoom(14)">{lang('small')}</a> <a href="javascript:doZoom(18)">{lang('middle')}</a> <a href="javascript:doZoom(20)">{lang('big')}</a>
							</p>
							<div class="clearfix">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_220264" style="margin-top: 15px; margin-bottom: 15px;">
		<div class="row column">
			<div class="container clearfix layout_524352">
				<div class="row column">
					<div class="hr">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_722527">
		<div class="row column">
			<div class="container clearfix layout_177684">
				<div class="row column">
					<p>
						<span>招聘部门 :</span> {$archive['my_zhaopinbumen']}
					</p>
					<p>
						<span>职位类型 :</span> {$archive['my_jobtype']}
					</p>
					<p>
						<span>职称要求 :</span> {$archive['my_jobtitle']}
					</p>
					<p>
						<span>招聘人数 :</span> {$archive['my_jobnumber']}
					</p>
					<p>
						<span>性别要求 :</span> {$archive['my_jobgender']}
					</p>
					<p>
						<span>工作经验要求 :</span> {$archive['my_jobwork']}
					</p>
					<p>
						<span>学历要求 :</span> {$archive['my_jobacademic']}
					</p>
					<p>
						<span>年龄要求 :</span> {$archive['my_jobage']}
					</p>
					<p>
						<span>工作地区 :</span> {$archive['my_jobworkareas']}
					</p>
					<p>
						<span>要求与待遇 :</span> {$archive['my_jobrequirements']}
					</p>
					<p>
						<span>联系人姓名 :</span> {$archive['my_contactname']}
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_808995" style="margin-top: 15px; margin-bottom: 15px;">
		<div class="row column">
			<div class="container clearfix layout_953458">
				<div class="row column">
					<div class="hr">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_43304" style="margin-top: 15px; margin-bottom: 15px;">
		<div class="row column">
			<div class="container clearfix layout_784828">
				<div class="row column">
					<div id="print" class="column visual-conent">
						{$archive['content']}
						<div class="clearfix">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_676599" style="margin-top: 15px; margin-bottom: 15px;">
		<div class="row column">
			<div class="container clearfix layout_158624">
				<div class="row column">
					<div class="hr">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_886423" style="margin-top: 15px; margin-bottom: 5px;">
		<div class="row column">
			<div class="container clearfix layout_390441">
				<div class="row column">
					<div class="column visual-conent-page">
						<div id="page">
							{if $archive['p']['aid']} <strong>{lang('archivep')}</strong><a href="{$archive['p']['url']}">{$archive['p']['title']}</a> {else} <strong>{lang('archivep')}</strong>{lang('nopage')} {/if}
							<div class="blank10">
							</div> {if $archive['n']['aid']} <strong>{lang('archiven')}</strong><a href="{$archive['n']['url']}">{$archive['n']['title']}</a> {else} <strong>{lang('archiven')}</strong>{lang('nopage')} {/if}
							<div class="clearfix">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_402892" style="margin-top: 15px; margin-bottom: 15px;">
		<div class="row column">
			<div class="container clearfix layout_939884">
				<div class="row column">
					<div class="hr">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_57479" style="margin-top: 15px; margin-bottom: 15px;">
		<div class="row column">
			<div class="container clearfix layout_608164">
				<div class="row column">
					<div class="column visual-conent-comment">
						{template 'comment/comment.html'}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_815628" style="margin-top: 15px; margin-bottom: 15px;">
		<div class="row column">
			<div class="container clearfix layout_771703">
				<div class="row column">
					<div class="hr">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_275539" style="margin-top: 15px; margin-bottom: 15px;">
		<div class="row column">
			<div class="container clearfix layout_875600">
				<div class="row column">
					<div class="column visual-conent-relevant-list">
						 {if is_array($likenews)}
						
						<h3>
							<a>{$archive['tag']}<small>{lang('relatedcontent')}</small></a>
						</h3> <span>——</span>
						<hr class="featurette-divider" />
						<div class="container list-container">
							 {loop $likenews $item}
							<div class="news-list list-border list-border-w">
								<div class="list-date">
									 <span>{=sdate($item['adddate'],'d')}</span>
									<p>
										{=sdate($item['adddate'],'Y-m')}
									</p>
								</div>
								<h4>
									<a title="{$item['title']}" href="{archive::url($item)}" target="_blank">{cut($item['title'],20)}</a>
								</h4>
								<p>
									{cut(strip_tags($item['introduce']),140)}… <a href="{archive::url($item)}" target="_blank">[{lang('more')}]</a>
								</p>
							</div> {/loop}
							
						</div> {/if}
						
						<div class="clearfix">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{template 'footer.html'}