body {
	overflow-x: hidden;
	padding-top: 50px;
	padding-bottom: 40px;
	-webkit-transition: margin .5s ease;
	transition: margin .5s ease;
	font-family:'Microsoft Yahei';
	word-wrap:break-word;
word-break:break-all;

}

.blank5, .blank10, .blank20,.blank30 { clear: both; height: 5px; }
.blank10 { height: 10px; }
.blank20 { height: 20px; }
.blank30 { height: 30px; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
/* End hide from IE-mac */




a,a:hover {outline:none;border:none;}
*:focus {outline:none;}

input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}

label {font-size:0.8em;}

.pace .spinner {    
position: fixed;    
top: 15px;    
right: 15px;    
z-index: 2000;    
display: block;    
}    
.pace .spinner-icon {    
width: 18px;    
height: 18px;    
-webkit-box-sizing: border-box;    
box-sizing: border-box;    
border: solid 2px transparent;    
border-top-color: #2299dd;    
border-left-color: #2299dd;    
border-radius: 50%;    
-webkit-animation: nprogress-spinner .4s linear infinite;    
animation: nprogress-spinner .4s linear infinite;    
}    
@-webkit-keyframes nprogress-spinner {    
0% {    
-webkit-transform: rotate(0deg);    
transform: rotate(0deg);    
}    
100% {    
-webkit-transform: rotate(360deg);    
transform: rotate(360deg);    
}    
}    
@keyframes nprogress-spinner {    
0% {    
-webkit-transform: rotate(0deg);    
transform: rotate(0deg);    
}    
100% {    
-webkit-transform: rotate(360deg);    
transform: rotate(360deg);    
}    
}    
@keyframes fadeOut {    
from {    
opacity: 1;    
}    
to {    
opacity: 0;    
}    
}    
.pace {    
-webkit-pointer-events: none;    
pointer-events: none;    
-webkit-user-select: none;    
-moz-user-select: none;    
user-select: none;    
-webkit-transition: opacity 0.8s ease-in-out;    
-moz-transition: opacity 0.8s ease-in-out;    
-o-transition: opacity 0.8s ease-in-out;    
transition: opacity 0.8s ease-in-out;    
}    
.pace-inactive {    
opacity:0;    
filter: alpha(opacity=0);    
}    
.pace .pace-progress {    
background: #2299dd;    
position: fixed;    
z-index: 2000;    
top: 0;    
right: 100%;    
width: 100%;    
height: 3px;    

}    


.logo {
	display: block;
	width: 150px;
	max-height: 30px
}

.logo img {
	max-width: 150px;
	max-height: 30px
}

.tagname {
	display: none
}





#download-layout {
	display: none
}

#downloadModal textarea,#feedbackModal textarea {
	box-sizing: border-box;
	width: 100%;
	height: 280px;
	resize: none
}

#feedbackModal input {
	width: 515px
}

#feedbackModal input.modal-error-field,#feedbackModal textarea.modal-error-field {
	border: 1px solid red
}

a.language-selected {
	font-weight: 700;
	font-style: italic
}



.modal-content {
	border-top: 5px solid #428bca;
	border-radius: 0;}


@media (max-height: 768px) {
	.modal-body{
	overflow-y:auto;
	max-height:600px;
}
}

#menu-layoutit {
	padding: 0 0 0 10px
}

.modal-body {
	padding-bottom: 0
}




/*顶部菜单*/
.visual-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 8px 5px 0 0;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ccc;
	background: #fafafa;
	font-size: 14px
}

.visual-top a {color:#333;line-height:30px;}

.visual-top li {
	float: left;
	margin-right: 10px;
	list-style:none
}



.visual-top .navbar-right li {
	padding: 0 10px;
	border-radius: 4px
}

.visual-top .navbar-right li.visual-save a,.visual-top .navbar-right li.visual-view a {
	color: #fff
}

.navbar-visual {
	padding: 0;
	background: #fff;
	box-shadow: 0 0 0 #888;
	opacity: 1
}

.visual-top .select-template .btn,
.visual-top .visual-top-function .btn
{border:none;color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;

	}

.visual-top .navbar-right li.admin-info {height:35px;}
.visual-top .navbar-right .admin-info .dropdown-menu {top:30px; width:88px; border-top: 5px solid #428bca;border-radius: 0;z-index:999;background:#fff;}
.visual-top .navbar-right .admin-info .dropdown-menu li {clear:both;margin:0px;padding:8px 0px 8px 15px;}
.visual-top .navbar-right .admin-info .dropdown-menu li a,.visual-top .navbar-right .admin-info .dropdown-menu li a:hover {margin:0px;padding:0px; background:none;color:#333;}

.visual-top .select-template,.visual-top .btn-group {box-shadow: 1px 2px 10px -3px rgba(102,175,233,.6);border-radius: 5px;}

.visual-top .select-template .dropdown-menu {border-top: 5px solid #428bca; border-radius: 0;background:#fff;}
.visual-top .select-template .dropdown-menu li {width:100%;}
.visual-top .select-template .dropdown-menu li:hover {background:#f5f5f5;}
.visual-top .select-template .dropdown-menu li a {color:#333;}
.visual-top .select-template .dropdown-menu li a:hover {background:none;color:#333;}
.visual-top .select-template .dropdown-menu .dropdown .dropdown-menu {top:-10px;left:160px;width:auto;}
.visual-top .select-template .dropdown-menu .dropdown .dropdown-menu .dropdown-menu {top:-12px;left:158px;}

.select-template .dropdown-menu>li>a {padding:5px 20px;}


/*左侧菜单*/
.visual-left {
  width:280px;
  display: none;
  
  position: fixed;
    top: 0px;
    bottom: 0;
    left: -280;
    z-index: 1000;
	background:white;
	padding: 55px 0px 0px 0px;

 z-index: 10;
	padding: 10px;
	border-right: 1px solid #f5f5f5;
	border-right: 1px solid #428bca;


}

.visual-left .viewarea {display:none;}

.visual-left li {list-style:none}

.visual-left a {color:#333;}

.edit .visual-left .drag {top:5px;right:10px;}
.visual-left .btn {border:none;}
.visual-left .div-drag {width:24px;}

.visual-left .div-drag i {margin-right:999px;}
.visual-left .nav-header {
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);
	font-weight: 700;
	font-size: 14px;
	cursor: pointer
}

.visual-left .nav-header span.label {
	position: relative;
	top: -1px;
	font-size: 10px
}

.visual-left .nav-header i.glyphicon-question-sign {
	color: #000;
	text-shadow: 0 1px 0 #ddd
}

.visual-left .nav-header .popover {
	color: #999;
	text-shadow: none
}

.visual-left .accordion-groupg {
	border: none
}

.visual-left .view {
	display: none
}

.visual-left li {
	line-height: 28px
}

.visual-left li .lyrow {
	margin-bottom: 5px
}

.visual-left .box-element,.visual-left .preview {
	position: relative;
	line-height: 26px
}

.visual-left .preview {
	display: block;	
	color: #666;
	font-size: 9pt
}

.visual-left .preview input {
	position: relative;
	top: -1px;
	margin: 0 0 10px;
	padding: 0 20px;
	height: 2pc;
	border: 1px solid #ccc;
	color: #999;
	font-size: 10px;
	line-height: 2pc
}

.visual-left #tab_3 .box-element {
	width: 239px;
	margin:0 auto;
	margin-bottom: 30px;
}

.visual-left #tab_3 .preview {
	
	width: 239px;
	margin:0 auto;
	
	display: inline-block;
}

.visual-left #tab_3 .preview img {
	width: 239px
}

.visual-left #tab_3 .preview p {
	display: block;
	margin:0px auto;
	padding: 0 15px;
	width: 239px;
	background: #000;
	color: #fff;
	text-align:left;
	font-size: 14px
}

.visual-left #tab_3 .box-element:hover,
.visual-left #tab_3 .preview:hover {

	box-shadow: 0 0 10px #555
}
.visual-left #tab_3 .box-element:hover p,
.visual-left #tab_3 .preview:hover p {
	background: #0086db
}

.visual-left .view {
	position: relative;
	z-index: -999;
	display: none
}

.visual-left .nav-tabs>li.active>a,
.visual-left .nav-tabs>li.active>a:focus,
.visual-left .nav-tabs>li.active>a:hover 
{
	height:44px;
	background:#ffffff
}

.visual-left .nav-tabs {
	position: fixed;
	top: 50px;
	z-index: 999;
	padding: 5px 0 0;
	width: 285px;
	height: 3pc;
	border: none;
	border-bottom: 3px solid #428bca;
	background: #fff;

}

#tab_content {position: absolute;
	top: 50px;
	left:0;
	right:0;
	bottom: 0; overflow:auto;
	}

#tab_1,#tab_2,#tab_3 {
	margin: 20px 15px 0px 15px;
	text-align:center;
	height:auto;
	overflow-y:auto;
	overflow-x:hidden;
}

#tab_1 .box-layout,
#tab_1 .visual-drag-box,
#tab_2 .box-element {
	position: relative;
	float: left;
	width: 50%;
	min-height: 88px;
	text-align: center
}

#tab_1 .box-layout,
#tab_1 .visual-drag-box {
	width: 33%;
}


h5.tab_1_h5 {
clear:both;
margin:0px 0px 15px 0px;
padding:0px 0px 10px 10px;
font-size:14px;
border-bottom:1px solid #eee;
text-align:left;
}

#tab_1 .box-layout span.drag,
#tab_1 .box-layout span.edit,
#tab_1 .visual-drag-box span.drag,
#tab_1 .visual-drag-box span.edit,
#tab_2 .box-element span.drag,
#tab_2 .box-element span.edit,
#tab_3 .box-element span.drag,
#tab_3 .box-element span.edit 
{
	top: 0;
	left:0;
	width:100%;
	height:100%;
	text-indent: -9999px;
}

#tab_1 .box-layout span.drag i,
#tab_1 .box-layout span.edit i,
#tab_1 .visual-drag-box span.drag i,
#tab_1 .visual-drag-box span.edit i,
#tab_2 .box-element span.drag i,
#tab_2 .box-element span.edit i,
#tab_3 .box-element span.drag i,
#tab_3 .box-element span.edit i
{
	display: none
}

#tab_1 .box-layout .label-default,
#tab_1 .visual-drag-box .label-default,
#tab_2 .box-element .label-default,
#tab_3 .box-element .label-default
{
	background: 0 0
}


#tab_1 p,#tab_1 .alert {text-align:left;}
#tab_1 .lyrow .preview p {text-align:center;}
#tab_1 .lyrow .preview img{opacity: .5;}

#tab_2 .visual-drag-box .preview img {width:45px;}


body.devpreview .visual-left .sidebar-line {
display:none;
}


.visual-left .sidebar-line {
	position: fixed;
	top: 98px;
	right: 0;
	left: -280;
	z-index: 99999;
	clear: both;
	width: 279px;
	height: 20px;
	z-index:999;
	background:#fff
}

.devpreview .visual-left .nav-tabs {
	left: -280px
}

.visual-left .div-down,.visual-left .div-up {
	display: none
}

.visual-left .tab-content {
	position: relative;
	width:279px;
	z-index: 9;
	top: 50px;
	overflow-x:hidden
}

.visual-left .container {
	margin: 0;
	padding: 0;
	width: 238px
}


.visual-left-margin-input {clear:both;font-size:14px; line-height:22px;}

.visual-left-margin-input input {width:60px;height:22px; line-height:22px; padding:0px 5px; border:1px solid #ccc; border-radius: 2px}



.visual-right .preview,
.visual-left .boxes,

.visual-left .configuration,
.visual-left .edit,
.visual-left .remove,
.visual-left .btn-config,
.visual-left .layouts-config
{	
	opacity: 0;
	display: none
}








#MD {
	width: 62pc
}

#SM {
	width: 8in
}

#XS {
	width: 5in
}

#LG {
	width: 100%
}




.colors-holder {height:88px;width:100%;}
.colors-holder a {display:block; float:left; width:30px;height:30px;border:1px solid #ccc;}

/*右侧编辑区*/


#visual-right {
	margin: 0px;
margin-left:0px;
	padding: 60px 18px 0px 25px;
	word-wrap: break-word;
	
}
@media (min-width: 768px) {
#visual-right {

  overflow-y:hidden;
  overflow-x:hidden;
  }
}



.edit .visual-right .box-element {position: relative;}


.edit .visual-right .row {
	position: relative;
}





.edit .visual-right .container-fluid,.edit .visual-right .container {
	margin-right: auto;
	margin-left: auto;
}


.edit .visual-right .box-element .view {
	position: relative;
	display: inline-block
}

 
.edit .visual-right .navbar-brand {padding:0px 15px;}






/*按钮*/
.ui-sortable-placeholder {
	visibility: visible!important;
	outline: 1px dashed #ddd;
	border-radius: 4px
}

.edit .drag {
	position: absolute;
	z-index: 9;
	cursor: pointer
}

.edit .glyphicon-unlink {
	width:16px;
	height:32px;
	display: inline-block;
	background:url(../images/glyphicon-unlink.png) center 8px no-repeat;
}

.edit .glyphicon-unlink:hover {
	background:url(../images/glyphicon-unlink-2.png) center 8px no-repeat;
}

/*.edit .visual-right .drag i {
	text-shadow: 0 1px 0 #ddd
}*/

.lyrow,.ui-sortable {
	position: relative
}


.edit .visual-right .configuration {
	position: absolute;
	height: 24px;
	white-space: nowrap
}

.edit .visual-right .configuration:hover {
	z-index: 1001
}
.visual-right .lyrow .remove {right:0px;}
.visual-right .lyrow .box-element  .remove {left:60px;}

.div-down,.div-up,
.edit .visual-right .drag,
.edit .visual-right .edit,
.edit .visual-right .remove,
.eidt .visual-right .btn-config,
.eidt .visual-right .layouts-config,
.eidt .visual-right .btn-sections-config,
.eidt .visual-right .btn-link-config,
.edit .visual-right .configuration {
	position: absolute;
	height:30px;
	-moz-box-shadow:0px 0px 15px #fff;
-webkit-box-shadow:0px 0px 15px #fff;
box-shadow:0px 0px 15px #fff;
	border-radius: 50%
}








span.div-down,span.div-up 
{
	position: absolute;
	color: #fff;
	top: -20px;
	cursor: pointer;
    background: #434343;
    text-decoration: none;
    display: inline-block;
    padding: 0px 6px;
    outline: none;
    height: 23px;
    border-radius: 50px;
    line-height: 23px;
	font-size:12px;
	}


span.div-down:hover i,span.div-up:hover i {color:#fff;}
.div-down,.div-up {
	cursor: pointer
}




.layouts-config,.btn-config,.btn-sections-config,.btn-link-config {
padding:1px 4px;
border-radius: 50%;
}
.layouts-config:hover,
.btn-sections-config:hover,
.btn-link-config:hover,
.btn-config:hover,
.layouts-config:hover i,
.btn-config:hover i {
color:#fff;
}

.btn-pic {
padding:10px 13px;
}



.visual-right .lyrow:hover .div-down,
.visual-right .lyrow:hover .div-up,
.visual-right .lyrow:hover .drag,
.visual-right .lyrow:hover .remove
{

	top:-15px;

}


.visual-right .btn-video,
.visual-right .configuration,
.visual-right .div-down,
.visual-right .div-up,
.visual-right .div-drag,
.visual-right .btn-config,
.visual-right .layouts-config,
.visual-right .btn-sections-config,
.visual-right .btn-link-config,
.visual-right .remove,
.visual-right .btn-edit,
.visual-right .btn-pic-config,
.visual-right .btn-tag-config,
.visual-right .btn-pic
{opacity: 0;font-size:12px;}



.btn-tag-config button {border:none;background:none;text-align:center;}

.visual-right .lyrow .btn-group-xs>.btn {background:#ccc;border:none;padding:2px 6px;}



.visual-right .lyrow:hover .configuration .btn-group-xs>.btn:hover {
background:#333;
}

.visual-right .lyrow .remove {
	padding: 1px 3px;
	width: 24px;
	height: 24px;
	background: #f5f5f5;
	color: #d9534f;
	line-height: 24px;

}

.visual-right .lyrow .remove:hover {
	background: #d9534f;color: #fff;
}

.visual-right .lyrow .label-danger:hover .glyphicon {
	color: #fff;
	font-size:12px;
}

.edit .visual-right .lyrow .drag {
	padding: 0 3px;
	width: 24px;
	height: 24px;
	background: #434343;
	color: #fff;
	line-height: 24px
}

.edit .visual-right .lyrow .div-drag {
width:90px;
color: white;
    background: #2b2b2b;
    padding: 2px 7px;
    height: 26px;
    border-radius: 30px;
    padding: 0 11px;
    line-height: 26px;
}

.edit .visual-right .lyrow .drag .glyphicon,.edit .visual-right .lyrow .drag font {
	color: #fff;
	font-size:12px;
}

.edit .visual-right .lyrow .drag:hover {
	background: #000
}

.edit .visual-right .lyrow .drag:hover .glyphicon {
	color: #fff
}

/*
.edit .visual-right .box-element:hover {
	background: #fcf8e3
}
*/
.column {
    position: relative;

}

.btn-update i {
	transition: transform .4s ease-out;
	webkit-transition: -webkit-transform .4s ease-out
}

.btn-update:hover i {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg)
}




.visual-right .navbar-fixed-top {
	position: relative
}

.visual-right .navbar {
	margin: 0
}






.edit .visual-right .lyrow .ui-sortable .view {
	position: relative;

}

.edit .visual-right .lyrow .ui-sortable .view img {
	max-width: 100%
}

.visual-right .lyrow .box-element .ui-sortable {
	position: relative;
	z-index: 99
}





span.configuration .dropdown-menu {
	border: none;
	border-top: 5px solid #ccc;
	border-radius: 0
}

.dropdown-menu>.active>a:focus,span.configuration .dropdown-menu>.active>a,span.configuration .dropdown-menu>.active>a:hover {
	background: 0 0;
	color: #333;
	font-weight: 700
}



span.configuration span a.btn .caret {
	border-top: 4px solid #fff
}

span.configuration span a.btn-edit {background:#333;}

.edit .visual-right a.btn:hover i {
	color: #fff
}
.edit .visual-right .lyrow .view {width:100%;height:100%;z-index:15;}
.edit .visual-right .lyrow .view .lyrow .view {width:100%;height:100%;z-index:20;}


.edit .visual-right .lyrow .view a.btn-pic,
.edit .visual-right .lyrow .view .drag,
.edit .visual-right .lyrow .view .btn-config,
.edit .visual-right .lyrow .view .layouts-config,
.edit .visual-right .lyrow .view .btn-sections-config,
.edit .visual-right .lyrow .view .btn-link-config,
.edit .visual-right .lyrow .view .label-danger,
.edit .visual-right .lyrow .view .div-drag
{

top:6px;
height:24px;
overflow:hidden;
}



.edit .visual-right .lyrow .view .remove,
.edit .visual-right .lyrow .view .btn-config
{height:24px;}

.edit .visual-right .lyrow .view .div-drag {top:-18px;}

/*.edit .visual-right .lyrow .view .box-element .div-drag {left:0px;}*/

.edit .visual-right .lyrow .view .lyrow .view .remove {top:6px;right:10px;}



.layouts-config,
.btn-sections-config,
.btn-link-config,
.btn-config,
.btn-pic {
background:#000;
color:#fff;
}

.layouts-config i,
.btn-sections-config i,
.btn-link-config i,
.btn-config i,
.btn-pic i {
 color:#fff;
}




.edit .visual-right .position-move .drag
{
	z-index:99;
}
.edit .visual-right .position-move .label-danger
{
	z-index:99;
}



.edit .visual-right .position-move .div-up
{
	right:60px;
	z-index:99;
}
.edit .visual-right .position-move .div-down
{
	right:30px;
	z-index:99;
}



.edit .visual-right .position-move .layouts-config {left:40px;}
.edit .visual-right .layouts-config,
.edit .visual-right .btn-sections-config,
.edit .visual-right .btn-link-config,
.edit .visual-right .lyrow .view .layouts-config,
.edit .visual-right .lyrow .view .btn-sections-config
{left:30px;}












.visual-right .lyrow:hover .btn-config { left:30px;}
.edit .visual-right .lyrow .view .configuration-pic,
.edit .visual-right .lyrow .view .lyrow .view .configuration-pic {top:-3px;}

.edit .visual-right .position-move .configuration-nav {left:0px;}



.edit .view-html .navbar-fixed-top {left:15px;right:0px;top:50px;transition: 0ms;
}
#visual-bottom {left:15px;right:0px;}




.div-text-typesetting,.div-vertical-align {position:inherit; display:block; background:none; border:none;box-shadow: 0 0 0 rgba(0,0,0,0);}

.edit .visual-right .lyrow .view .btn-config,

.edit .visual-right .lyrow .view .lyrow .div-up,
.edit .visual-right .lyrow .view .lyrow .div-down {display:none;}

.edit .visual-right .lyrow .view .btn-link-config {left:90px;}
.edit .visual-right .lyrow .view .lyrow .view .btn-config {left:120px;}









/* hover */


div.column {
margin-top:1px;
margin-bottom:1px;
	min-height:24px;
	z-index:1;
	outline:1px dotted #ccc;
}


.visual-right .hover .view .btn-video,
.visual-right .hover  .view .configuration,
.visual-right .hover  .view .div-down,
.visual-right .hover  .view .div-up,
.visual-right .hover  .view .div-drag,
.visual-right .hover  .view .btn-config,
.visual-right .hover  .view .layouts-config,
.visual-right .hover  .view .btn-sections-config,
.visual-right .hover  .view .btn-link-config,
.visual-right .hover  .view .remove,
.visual-right .hover  .view .btn-edit,
.visual-right .hover  .view .btn-pic-config,
.visual-right .hover  .view .btn-tag-config,
.visual-right .hover  .view .btn-pic
{
opacity: 0;
}


.visual-right .hover .configuration,
.visual-right .hover .div-down,
.visual-right .hover .div-up,
.visual-right .hover .div-drag,
.visual-right .hover .btn-video,
.visual-right .hover .btn-config,
.visual-right .hover .layouts-config,
.visual-right .hover .btn-sections-config,
.visual-right .hover .btn-link-config,
.visual-right .hover .remove,
.visual-right .hover .btn-edit,
.visual-right .hover .btn-pic-config,
.visual-right .hover .btn-tag-config,
.visual-right .hover .btn-pic
{
opacity: 1;
z-index:999
}


#visual-right div.visual-outline-remove {outline:none;}


#visual-right div.ui-sortable > .ui-sortable {padding:-5px;}


#visual-right div.hover{outline: 1px solid #0084d8; }

#visual-right .position-move.hover {margin-left:-15px; margin-right:-15px;}
#visual-right .container.hover {margin-left:auto; margin-right:auto;}

/*模态框*/
#navModel .radio input[type="radio"], #navModel .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
margin-top:7px;
}
.modal a {color:#333;}
#link-config,#div-config {font-size:12px;}
.link-config .tab_1_h5,.div-config .tab_1_h5 {font-weight:bold;}
.edit .modal {top:25px;}
.modal-title {font-size:16px;}
.modal-content {font-size:14px;}

/* 文本编辑 */

.editControls {float:left; height:32px; line-height:32px; background:#f5f5f5;margin-left:30px;padding:0px; border-radius: 3px;display:none;}
.visual-top .editControls .btn-group {float:left; box-shadow:none;}
.visual-top .editControls .btn{
	padding:0px 12px;}

#visual-left-btn {
border-radius:0px 8px 8px 0px;
}

/*图片上传*/
.albumlist ul {width:100%;}


@media (max-width: 1490px) {
.editControls {margin-left:0px;}
#visual-select-template {width:50px;overflow:hidden;}
.logo {display:none;}
.sign-out span {display:none;}
}

@media (max-width: 1140px) {

.editControls {width:320px;height:36px;overflow:auto;}
}









#visual-top {
position: absolute;
top:0;
right:0;
left:15px;
}
#visual-bottom {
clear:both;
margin-left:-280px;
}


.navbar-fixed-top, .navbar-fixed-bottom {z-index:16;}

.font-size-dropdown {min-width:20px;}
.font-size-dropdown>li {clear:both;padding:5px 10px;}
.font-size-dropdown>li>a {padding:0px;}



.carousel img {width:100%;}

.glyphicon-display:before{content:"\e218"}
.glyphicon-text-color:before { content: "\e242";}
.glyphicon-text-size:before {content: "\e241";}
.text-bold{font-weight: bold;}
.text-italic{font-style: italic;}
.codearea {display:none;}
.dropdown-menu .divider{width: 100%;}

.colorpicker {z-index:999999999;}








.select-template .dropdown .caret {
margin-left: 20px;
    border-top: 4px solid transparent;
    border-right: 0 dotted;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #ccc;
}



#visual-left-btn {position: fixed;top:45%;left:0px;background: #428bca;
    height: 68px;line-height:68px;
    width: 18px;z-index:99;border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;color:#fff;font-size:8px;text-align:center;}

	#visual-left-btn i:hover {color:#fff;font-size:8px;}
.navbar-toggle .icon-bar {}



@media (min-width: 768px) {
  .visual-left {
    display: block;
  }
}


.dropdown-menu .divider{width: 100%;}


.div-text-typesetting a,
.div-border-style a,
.div-border-style a,
.icon-float a,
.icon-border-style a,
.icon-display a,
.button-float a,
.button-border-style a,
.button-display a,
.div-vertical-align a,
.text-align a,
.div-display a,
.div-position a,
.div-float a,
.div-clear a,
.link-float a,
.text-vertical-align a,
.div-background-position a,
.div-background-attachment a,
.div-background-size a,
.div-background-repeat a
{ text-decoration:none; border:1px solid #ccc; border-radius: 3px; padding:0px 8px 0px 8px;font-size:12px;text-align:center;display:inline-block;margin-bottom:10px;}


.div-text-typesetting a:hover,
.div-border-style a:hover,
.div-border-style a:hover,
.icon-border-style a:hover,
.icon-float a:hover,
.icon-display a:hover,
.button-border-style a:hover,
.button-float a:hover,
.button-display a:hover,
.div-vertical-align a:hover,
.text-align a:hover,
.div-display a:hover,
.div-position a:hover,
.div-float a:hover,
.div-clear a:hover,
.link-float a:hover,
.text-vertical-align ahover,
.div-background-position a:hover,
.div-background-attachment a:hover,
.div-background-size a:hover,
.div-background-repeat a:hover
{background:#ccc; color:#000; text-decoration:none} 



.div-text-typesetting a.on,
.div-border-style a.on,
.div-border-style a.on,
.icon-border-style a.on,
.icon-float a.on,
.icon-display a.on,
.button-border-style a.on,
.button-float a.on,
.button-display a.on,
.div-vertical-align a.on,
.text-align a.on,
.div-display a.on,
.div-position a.on,
.div-float a.on,
.div-clear a.on,
.link-float a.on,
.text-vertical-align a.on,
.div-background-position a.on,
.div-background-attachment a.on,
.div-background-size a.on,
.div-background-repeat a.on
{background:#333; color:#fff; border-radius: 5px;}

input.config {border-radius: 3px;border:none;border-bottom:1px solid #ccc;}

#static {position:static;}
#absolute {position:absolute;}
#fixed {position:fixed;}
#relative {position:relative;}
#inherit {position:inherit;}



/*默认模板兼容*/
.edit #visual-right #bootstrap-touch-slider, .edit #visual-right .banner {margin-top:0px;}
.visual-right .top-nav-right {top:5px;}

/*鼠标选中*/
#visual-right .view {margin:1px 0;}
/*#visual-right .box-layout:active {outline:1px solid red;}
#visual-right .box-layout:active .ui-sortable {min-height:1px;}*/



@media (max-width: 980px) {
 .navbar .top-nav-right {display:none;}
}
.visual-right .visual-code {display:none;}

.visual-code-show {    
	display: table-cell;
	width:155px;
    height: 32px;
	line-height:26px;
	margin:10px 0px 10px 10px;
    padding: 3px 20px;
    vertical-align: middle;
	background-color: #48ad79;
    color: #fff;
	font-size:12px;
	text-align:center;
}

.alert {padding:2px 15px;}

#class {width:100%;}

.visual-right .modal-body .alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: 2px;
    right: -12px;
    color: inherit;
}

.visual-inline-block {display:inline-block;}

.visual-ditu .custtag {max-height:350px;overflow:hidden;}
.edit .modal-footer {margin-top:20px;}

.table-cell {display: table-cell;vertical-align: middle;}

.file-input-new {float:left;width:500px;}
#btn_clsBgurl {margin-right:5px;}

#visual-right .colorpicker {background:#333;}
