


{template 'bottom.html'}
<div class="clearfix"></div>
<!--foot -->
<footer>
<div class="foot">
<div class="container">
<div class="row">

<div class="copyright">
<p>
{get('site_right')}<a href="{get('site_url')}" target="_blank">{get('sitename')}</a>,Inc.All rights reserved.&nbsp;&nbsp;<a href="{$base_url}/sitemap.html" target="_blank">{lang('sitemap')}</a>
</p>

<p>
{if config::get('site_icp')}<a rel="nofollow" href="http://www.miibeian.gov.cn/" rel="nofollow" target="_blank">{get('site_icp')}</a>{/if}{if config::get('site_beian_number')}&nbsp;&nbsp;<a rel="nofollow" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={get('site_beian_number')}" rel="nofollow" target="_blank">{get('site_beian')}{lang('site_beian')}{get('site_beian_number')}{lang('number')}</a>{/if}
{if config::get('site_login')=='1'}&nbsp;&nbsp;{login_js()}{/if}&nbsp;&nbsp;{getCopyRight()}{if get('guestbook_enable')}&nbsp;&nbsp;<a rel="nofollow" title="{lang('feedback')}" href="{url('guestbook')}" target="_blank">{lang('feedback')}</a>{/if}&nbsp;&nbsp;<a href="{$base_url}/index.php?case=archive&act=rss&catid={$catid}">Rss</a>{if config::get('opguestadd')=='1'}&nbsp;&nbsp;<a rel="nofollow" href="{$base_url}/?g=1">{lang('opguestadd')}</a>{/if}</a>
</p>
</div>







</div>
</div>
</footer>
<!-- foot end -->
{if $topid==0}
<div class="home-links">

<div class="container">
<div class="row">

<strong>{lang('links')}：</strong>

<div class="links-a">
{loop friendlink('text',0,24) $flink}
<a href="{$flink['url']}" target="_blank">{$flink['name']}</a>/
{/loop}
</div>

<div class="links-logo">
{loop friendlink('image',0,24) $flink}
<a href="{$flink['url']}" title="{$flink['name']}"><img src="{$flink['logo']}"width="88" height="31" /></a>
{/loop}
</div>
<div class="blank10"></div>

<p class="links-a">{if config::get('hotsearch')=='1'}{lang('hotkeys')}： {gethotsearch(10)}{/if}</p>
</div>
</div><!-- /container -->
</div><!-- /home-links -->
{/if}


<!-- search -->
<div class="container-fluid">

<div class="modal fade bs-example-modal-lg-search" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<div class="blank5"></div>
      </div>
<div class="row">

<form name='search' action="<?php echo url('archive/search');?>" onsubmit="search_check();" method="post">
<div class="col-lg-1"></div>
<div class="col-lg-10">
<div class="input-group">

<input type="text" name="keyword" class="form-control" placeholder="{lang('pleaceinputtext')}">
<span class="input-group-btn">
<button class="btn btn-default" name='submit' type="submit">{lang('search')}</button>
</span>

</div>
</div>
<div class="col-lg-1"></div>
</form>

</div>
</div>
</div>

</div>
<!-- search end -->

<!-- shopping 购物车 -->
<div class="modal fade bs-example-modal-lg-shopping" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
		</div>
	</div>
</div>
<!-- s/shopping 购物车 -->


<div class="servers">
<!--[if (gte IE 7)|!(IE)]><!-->
<!-- 在线客服 -->
{template 'system/servers.html'}
<![endif]-->
<!-- 短信 -->
{template 'system/sms.html'}
</div>

<div class="servers-wap">
{if config::get('wap_foot_nav')=='1'}
{template 'system/foot_nav_a.html'}
{elseif config::get('wap_foot_nav')=='2'}
{template 'system/foot_nav_b.html'}
{elseif config::get('wap_foot_nav')=='3'}
{template 'system/foot_nav_c.html'}
{else}
{/if} 
</div>



<!-- Bootstrap core Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{$skin_path}/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="{$skin_path}/js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{$skin_path}/js/ie10-viewport-bug-workaround.js"></script>
<script src="{$skin_path}/js/bootstrap-submenu.js"></script>

<!--[if lt IE 9]><!-->
<script src="{$skin_path}/js/ie/html5shiv.min.js"></script>
<script src="{$skin_path}/js/ie/respond.min.js"></script>
<![endif]-->

<!-- 图片加载 -->
<script type="text/javascript">
<!--
	$(window).load(function() { 
  $('img').each(function() {
    if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) { 
      this.src = '{$base_url}/images/nopic.gif'; 
      } 
   });
});
//-->
</script>


<!-- 幻灯 -->
<script src="{$skin_path}/js/slide/jquery.touchSwipe.min.js"></script>
<script src="{$skin_path}/js/slide/bootstrap-touch-slider.js"></script>

<!-- 繁简切换 -->
{if get('lang_type')=='cn'}<script type="text/javascript" src="{$base_url}/js/common.js"></script>{/if}

<script src="{$skin_path}/js/owl.carousel.min.js"></script> 
<script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        items : 3,
        lazyLoad : true,
        navigation : true
      });

    });
</script> 

{if config::get('site_push')=='1'}
<!-- 百度自动推送 -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
{/if}

<!-- 内容切换图片 -->
<link href="{$skin_path}/js/lightgallery/css/lightgallery.css" rel="stylesheet">
<script src="{$skin_path}/js/lightgallery/js/lightgallery.min.js"></script>
<script src="{$skin_path}/js/lightgallery/js/lg-pager.min.js"></script>

<script src="{$skin_path}/js/lightgallery/js/lg-fullscreen.min.js"></script>
<script src="{$skin_path}/js/lightgallery/js/lg-zoom.min.js"></script>
<script src="{$skin_path}/js/lightgallery/js/lg-hash.min.js"></script>

<script>
    lightGallery(document.getElementById('lightgallery'));
</script>

<!-- 内容文字大小 -->
<script src="{$skin_path}/js/c_tool.js"></script>




{if get('share')=='1'}
<!-- 百度分享 -->
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"6","bdPos":"right","bdTop":"100"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
{/if}


<!-- 导航下拉缩小高度 -->
<script type="text/javascript">
<!--
$(document).ready(function(){
$(window).scroll(function() {
var top = $(".slide-text h1,.sub_menu").offset().top; //获取指定位置
var scrollTop = $(window).scrollTop();  //获取当前滑动位置
if(scrollTop > top){                 //滑动到该位置时执行代码
$(".navbar").addClass("active");
}else{
$(".navbar").removeClass("active");
}
});
});

$(function(){	
    var cubuk_seviye = $(document).scrollTop();
    var header_yuksekligi = $('.navbar').outerHeight();

    $(window).scroll(function() {
        var kaydirma_cubugu = $(document).scrollTop();

        if (kaydirma_cubugu > header_yuksekligi){$('.navbar').addClass('gizle');} 
        else {$('.navbar').removeClass('gizle');}

        if (kaydirma_cubugu > cubuk_seviye){$('.navbar').removeClass('sabit');} 
        else {$('.navbar').addClass('sabit');}				

        cubuk_seviye = $(document).scrollTop();	
     });
});
//-->
</script>

<!-- CKplayer -->
<script type="text/javascript" src="{$base_url}/ckplayer/ckplayer.min.js"></script>

<!-- 左侧树形菜单 -->
<link rel="stylesheet" href="{$skin_path}/css/metisMenu.css">
<script src="{$skin_path}/js/metisMenu.js"></script>
<script>
    $(function () {
        $('#list-category').metisMenu();
    });
</script>

<!-- 鼠标滑过展开一级菜单/一级菜单可点击 -->
<script type="text/javascript">
	$(function () {
		$(".dropdown").mouseover(function () {
			$(this).addClass("open");
		});
		$(".dropdown").mouseleave(function(){
			$(this).removeClass("open");
		})
	}); 
	$(document).ready(function(){
		var _width = $(window).width(); 
		if(_width < 768){			
			$("#navbar a.toogle").click(function(){
				event.preventDefault();
			});
		}
	 });
</script>

{if config::get('html_wow')=='1'}
<!-- wow动态效果 -->
<link rel="stylesheet" href="{$skin_path}/css/animate.min.css" />
<script src="{$skin_path}/js/wow.min.js"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
</script>
{/if}

{if get('nav_top')=='1'}
<!-- 导航置顶CSS -->
<style type="text/css">
.navbar {
	padding-right:0;
	padding-left:0;position:fixed;
	right:0;
	left:0;
	z-index:1030;
	border-radius:0;
	}
#bootstrap-touch-slider {margin-top:62px;}
@media (max-width: 768px) {
#bootstrap-touch-slider {margin-top:118px;}
}
@media (max-width: 468px) {
#bootstrap-touch-slider {margin-top:62px;}
}
</style>
{/if}


<!-- 幻灯支持手势滑动 -->
<script type="text/javascript">
	$('#bootstrap-touch-slider').bsTouchSlider();
</script>




</body>
</html>