<div class="codearea">
  #[#loop $archives $i $archive#]#
			<div class="row list-down list-border">
				<div class="col-sm-3">
					<a title="#[#$archive['stitle']#]#" target="_blank" href="#[#$archive['url']#]#" class="img-auto"><img alt="#[#$archive['stitle']#]#" src="#[#$archive['thumb']#]#" class="img-responsive"  onerror='onerror_pic(this)' /></a>
				</div>
				<div class="col-sm-9">
					<h4><a title="#[#$archive['stitle']#]#" href="#[#$archive['url']#]#" target="_blank" >#[#$archive['title']#]#</a></h4>
					<p>#[#lang('date')#]#：#[#$archive['adddate']#]#<br />#[#lang('strgrade')#]#：#[#$archive['strgrade']#]#</p>
					<p>#[#lang('nowdownload')#]#：#[#if $archive['attachment_path']#]#
					#[#attachment_js($archive['aid'])#]#
					#[#else#]#
					#[#lang('nodownload')#]#
					#[#/if#]#</p>
					<p>#[#cut(strip_tags($archive['introduce']),100)#]#… <a href="#[#$archive['url']#]#" target="_blank">[#[#lang('more')#]#]</a></p>
				</div>
			</div>
			#[#/loop#]#
    <div class="clearfix"></div>
</div>
<div class="viewarea">

<div class="row list-down list-border">
<div class="col-sm-3">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-1.jpg" class="img-responsive" />
</a>
</div>
<div class="col-sm-9">
<h4><a target="_blank">下载演示一</a></h4>
<p>时间：2012-08-04<br />推荐：<img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /></p>
<p>立刻下载：<img src="./images/download.gif"></p>
<p>内容简介又称内容大要、内容提要、内容摘要等。扼要介绍图书内容和读者对象的说明。又称内容说明、内容简介、内容介绍，是向读者介绍本书内容、特点和读者对象，便于读者了解选购... <a target="_blank">[了解更多]</a></p>
</div>
</div>

<div class="row list-down list-border">
<div class="col-sm-3">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-2.jpg" class="img-responsive" />
</a>
</div>
<div class="col-sm-9">
<h4><a target="_blank">下载演示二</a></h4>
<p>时间：2012-08-04<br />推荐：<img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /></p>
<p>立刻下载：<img src="./images/download.gif"></p>
<p>内容简介又称内容大要、内容提要、内容摘要等。扼要介绍图书内容和读者对象的说明。又称内容说明、内容简介、内容介绍，是向读者介绍本书内容、特点和读者对象，便于读者了解选购... <a target="_blank">[了解更多]</a></p>
</div>
</div>

<div class="row list-down list-border">
<div class="col-sm-3">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-3.jpg" class="img-responsive" />
</a>
</div>
<div class="col-sm-9">
<h4><a target="_blank">下载演示三</a></h4>
<p>时间：2012-08-04<br />推荐：<img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /></p>
<p>立刻下载：<img src="./images/download.gif"></p>
<p>内容简介又称内容大要、内容提要、内容摘要等。扼要介绍图书内容和读者对象的说明。又称内容说明、内容简介、内容介绍，是向读者介绍本书内容、特点和读者对象，便于读者了解选购... <a target="_blank">[了解更多]</a></p>
</div>
</div>

<div class="row list-down list-border">
<div class="col-sm-3">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-4.jpg" class="img-responsive" />
</a>
</div>
<div class="col-sm-9">
<h4><a target="_blank">下载演示四</a></h4>
<p>时间：2012-08-04<br />推荐：<img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /></p>
<p>立刻下载：<img src="./images/download.gif"></p>
<p>内容简介又称内容大要、内容提要、内容摘要等。扼要介绍图书内容和读者对象的说明。又称内容说明、内容简介、内容介绍，是向读者介绍本书内容、特点和读者对象，便于读者了解选购... <a target="_blank">[了解更多]</a></p>
</div>
</div>

<div class="row list-down list-border">
<div class="col-sm-3">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-5.jpg" class="img-responsive" />
</a>
</div>
<div class="col-sm-9">
<h4><a target="_blank">下载演示五</a></h4>
<p>时间：2012-08-04<br />推荐：<img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /></p>
<p>立刻下载：<img src="./images/download.gif"></p>
<p>内容简介又称内容大要、内容提要、内容摘要等。扼要介绍图书内容和读者对象的说明。又称内容说明、内容简介、内容介绍，是向读者介绍本书内容、特点和读者对象，便于读者了解选购... <a target="_blank">[了解更多]</a></p>
</div>
</div>

<div class="row list-down list-border">
<div class="col-sm-3">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-6.jpg" class="img-responsive" />
</a>
</div>
<div class="col-sm-9">
<h4><a target="_blank">下载演示六</a></h4>
<p>时间：2012-08-04<br />推荐：<img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /></p>
<p>立刻下载：<img src="./images/download.gif"></p>
<p>内容简介又称内容大要、内容提要、内容摘要等。扼要介绍图书内容和读者对象的说明。又称内容说明、内容简介、内容介绍，是向读者介绍本书内容、特点和读者对象，便于读者了解选购... <a target="_blank">[了解更多]</a></p>
</div>
</div>

<div class="row list-down list-border">
<div class="col-sm-3">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-7.jpg" class="img-responsive" />
</a>
</div>
<div class="col-sm-9">
<h4><a target="_blank">下载演示七/a></h4>
<p>时间：2012-08-04<br />推荐：<img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /></p>
<p>立刻下载：<img src="./images/download.gif"></p>
<p>内容简介又称内容大要、内容提要、内容摘要等。扼要介绍图书内容和读者对象的说明。又称内容说明、内容简介、内容介绍，是向读者介绍本书内容、特点和读者对象，便于读者了解选购... <a target="_blank">[了解更多]</a></p>
</div>
</div>

<div class="row list-down list-border">
<div class="col-sm-3">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-8.jpg" class="img-responsive" />
</a>
</div>
<div class="col-sm-9">
<h4><a target="_blank">下载演示八</a></h4>
<p>时间：2012-08-04<br />推荐：<img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /><img src="./images/admin/star2.gif" border="0" /></p>
<p>立刻下载：<img src="./images/download.gif"></p>
<p>内容简介又称内容大要、内容提要、内容摘要等。扼要介绍图书内容和读者对象的说明。又称内容说明、内容简介、内容介绍，是向读者介绍本书内容、特点和读者对象，便于读者了解选购... <a target="_blank">[了解更多]</a></p>
</div>
</div>

    <div class="clearfix"></div>
</div>