<div class="codearea">
<div class="row">
    #[#loop $archives $i $archive#]#
	#[#if $i%3==0#]#<div class="clearfix"></div>#[#else#]##[#/if#]#
   <div class="post-masonry col-xs-12 col-sm-6 col-md-4">
				<a href="#[#$archive['url']#]#" class="img-auto">
				<img class="img-responsive" alt="#[#$archive['stitle']#]#" src="#[#$archive['thumb']#]#" onerror='onerror_pic(this)'>
				<h4>#[#$archive['title']#]#</h4>
				</a>
				</div>
    #[#/loop#]#
    <div class="clearfix"></div>
	</div>
</div>
<div class="viewarea">
    <div class="row">

<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-1.jpg" class="img-responsive" />
<h4>内容标题一</h4>
</a>
</div>

<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-2.jpg" class="img-responsive" />
<h4>内容标题二</h4>
</a>
</div>

<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-3.jpg" class="img-responsive" />
<h4>内容标题三</h4>
</a>
</div>

<div class="clearfix"></div>

<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-4.jpg" class="img-responsive" />
<h4>内容标题四</h4>
</a>
</div>



<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-5.jpg" class="img-responsive" />
<h4>内容标题五</h4>
</a>
</div>

<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-6.jpg" class="img-responsive" />
<h4>内容标题六</h4>
</a>
</div>

<div class="clearfix"></div>

<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-7.jpg" class="img-responsive" />
<h4>内容标题七</h4>
</a>
</div>

<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
<a class="img-auto">
<img src="./images/admin/visual/temp/section/section-pic-8.jpg" class="img-responsive" />
<h4>内容标题八</h4>
</a>
</div>
    
    <div class="clearfix"></div>

	</div>
</div>