<div class="codearea">

#[#loop categories($catid) $i $t#]#

<!-- 页面标题开始 -->
<div class="title">
<h3><a title="#[#$t['typename']#]#" href="#[#category::url($t['catid'])#]#">#[#$t['catname']#]#<small>#[#$t['htmldir']#]#</small></a></h3>
<p>#[#$t['subtitle']#]#</p>
<span>——</span>
</div>
<!-- 页面标题结束 -->

<!-- 中部开始 -->
	<ul class="news-list">
	<!-- 内容列表开始 -->
	#[#loop archive($t['catid'],0,0,'0,0,0',20,'aid',5,false,0) $archive#]#
      <li><span class="pull-right badge date">{$archive[adddate]}</span><a title="#[#$archive['stitle']#]#" href="#[#$archive['url']#]#" target="_blank"
                           class="list_page_t">#[#$archive['title']#]#</a></li>
	#[#/loop#]#
	</ul>
	<!-- 内容列表结束 -->
	<div class="blank30"></div>


#[#/loop#]#

<div class="clearfix"></div>
</div>

<div class="viewarea">






<!-- 页面标题开始 -->
<div class="title">
<h3><a title="" href="/index.php?case=archive&act=list&catid=9">栏目一<small>HtmlDir</small></a></h3>
<p>栏目副标题</p>
<span>——</span>
</div>
<!-- 页面标题结束 -->

<!-- 中部开始 -->
<ul class="news-list">
<!-- 内容列表开始 -->
<li><span class="pull-right badge date">2018-01-01</span><a class="list_page_t">内容标题一</a></li>
<li><span class="pull-right badge date">2018-01-01</span><a class="list_page_t">内容标题二</a></li>
<li><span class="pull-right badge date">2018-01-01</span><a class="list_page_t">内容标题三</a></li>
<li><span class="pull-right badge date">2018-01-01</span><a class="list_page_t">内容标题四</a></li>
<li><span class="pull-right badge date">2018-01-01</span><a class="list_page_t">内容标题五</a></li>
<!-- 内容列表结束 -->
</ul>
<div class="blank30"></div>



<!-- 页面标题开始 -->
<div class="title">
<h3><a title="" href="/index.php?case=archive&act=list&catid=9">栏目二<small>HtmlDir</small></a></h3>
<p>栏目副标题</p>
<span>——</span>
</div>
<!-- 页面标题结束 -->

<!-- 中部开始 -->
<ul class="news-list">
<!-- 内容列表开始 -->
<li><span class="pull-right badge date">2018-01-01</span><a class="list_page_t">内容标题一</a></li>
<li><span class="pull-right badge date">2018-01-01</span><a class="list_page_t">内容标题二</a></li>
<li><span class="pull-right badge date">2018-01-01</span><a class="list_page_t">内容标题三</a></li>
<li><span class="pull-right badge date">2018-01-01</span><a class="list_page_t">内容标题四</a></li>
<li><span class="pull-right badge date">2018-01-01</span><a class="list_page_t">内容标题五</a></li>
<!-- 内容列表结束 -->
</ul>
<div class="blank30"></div>

<!-- 页面标题开始 -->
<div class="title">
<h3><a title="" href="/index.php?case=archive&act=list&catid=9">栏目三<small>HtmlDir</small></a></h3>
<p>栏目副标题</p>
<span>——</span>
</div>
<!-- 页面标题结束 -->

<!-- 中部开始 -->
<ul class="news-list">
<!-- 内容列表开始 -->
<li><span class="pull-right badge date">2018-01-01</span><a class="list_page_t">内容标题一</a></li>
<li><span class="pull-right badge date">2018-01-01</span><a class="list_page_t">内容标题二</a></li>
<li><span class="pull-right badge date">2018-01-01</span><a class="list_page_t">内容标题三</a></li>
<li><span class="pull-right badge date">2018-01-01</span><a class="list_page_t">内容标题四</a></li>
<li><span class="pull-right badge date">2018-01-01</span><a class="list_page_t">内容标题五</a></li>
<!-- 内容列表结束 -->
</ul>
<div class="blank30"></div>









<div class="clearfix"></div>
</div>