
<div class="codearea">
<div class="visual-text-box" contenteditable="true">
		{$category[$catid]['categorycontent']}
	<div class="clearfix"></div>
                                    </div>

</div>
<div class="viewarea">
<div class="visual-text-box" contenteditable="true">
                                            内容与形式是辩证法的一对基本范畴。内容是事物一切内在要素的总和。形式是这些内在要素的结构和组织方式。例如，社会各阶级在国家中的地位是国家的内容，统治阶级如何组织国家政权机关则是国家的形式。内容和形式是辩证的统一。任何事物既有其内容，也有其形式，不存在无内容的形式，也没有无形式的内容，内容决定形式，形式服从内容，并随内容的变化而变化。形式对内容又有反作用，形式适合内容，就促进内容的发展，形式不适合内容，则阻碍内容的发展。内容和形式之间存在着差别和矛盾。内容是经常变化的，形式比较相对稳定，形式往往落后于内容，从而造成新内容与旧形式之间的矛盾。内容和形式的差别又是相对的。
											<div class="clearfix"></div>
                                    </div>

</div>