<div class="codearea">

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>

					<th>#[#lang('recruitmentpost')#]#</th> 
					<th class="text-center">#[#lang('recruitingdepartment')#]#</th> 
					<th class="text-center">#[#lang('releasetime')#]#</th> 
					<th class="text-center">#[#lang('intro')#]#</th> 
				</tr>
			</thead>
			<tbody>
				#[#loop $archives $archive#]#
				<tr>
					<td><a title="#[#$archive['stitle']#]#" target="_blank" href="#[#$archive['url']#]#">#[#$archive['title']#]#</a></td> 
					<td class="text-center">#[#$archive['my_zhaopinbumen']#]#</td> 
					<td class="text-center">#[#$archive['adddate']#]#</span></td> 
					<td class="text-center"><a title="#[#$archive['stitle']#]#" target="_blank" href="#[#$archive['url']#]#" class="table_more">#[#lang('details')#]#</a></td> 
				</tr>
				#[#/loop#]#
			</tbody>
		</table>
<div class="clearfix"></div>
</div>
</div>
<div class="viewarea">

<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
<th>招聘职位</th> 
<th class="text-center">招聘部门</th> 
<th class="text-center">发布时间</th> 
<th class="text-center">详细信息</th> 
</tr>
</thead>
<tbody>
<tr>

<td><a>业务经理</a></td> 
<td class="text-center">营销部</td> 
<td class="text-center">2015-08-04</span></td> 
<td class="text-center"><a class="table_more">详情</a></td> 
</tr>
<tr>

<td><a>部门主管</a></td> 
<td class="text-center">销售部</td> 
<td class="text-center">2012-08-04</span></td> 
<td class="text-center"><a class="table_more">详情</a></td> 
</tr>
<tr>

<td><a>业务经理</a></td> 
<td class="text-center">营销部</td> 
<td class="text-center">2015-08-04</span></td> 
<td class="text-center"><a class="table_more">详情</a></td> 
</tr>
<tr>

<td><a>部门主管</a></td> 
<td class="text-center">销售部</td> 
<td class="text-center">2012-08-04</span></td> 
<td class="text-center"><a class="table_more">详情</a></td> 
</tr>
<tr>

<td><a>业务经理</a></td> 
<td class="text-center">营销部</td> 
<td class="text-center">2015-08-04</span></td> 
<td class="text-center"><a class="table_more">详情</a></td> 
</tr>
<tr>

<td><a>部门主管</a></td> 
<td class="text-center">销售部</td> 
<td class="text-center">2012-08-04</span></td> 
<td class="text-center"><a class="table_more">详情</a></td> 
</tr>
</tbody>
</table>
</div>


</div>
	