body {overflow-x:hidden;}

.container-fluid {padding-left:0px;padding-right:0px;}

p {margin:0px;}


/* 导航 */
.navbar-default {
margin:0px;
padding:5px 0px;
background:white;
opacity: 0.9;
border:none;
border-radius: 0px;
-moz-box-shadow:0px 0px 15px #888;
-webkit-box-shadow:0px 0px 15px #888;
box-shadow:0px 0px 15px #888;
transition: 600ms; 
z-index:999;
}

#navbar {float:right;}


@media (max-width: 768px) {
.navbar-default {padding:5px 0px;}
#navbar {float:none;}
}

.navbar-nav {margin-right:50px;}

.navbar-default .navbar-nav>li> a {color:#000;}

/* logo */
a.navbar-brand { width:210px;max-height:48px; margin:0px; padding:0px; overflow:hidden;}
a.navbar-brand img {max-width:210px;max-height:48px; margin: 0px auto;}
@media (max-width: 768px) {
a.navbar-brand {position: absolute; left:38px; top:10px; margin-left:10px; max-width:180px;}
a.navbar-brand img {max-width:180px;max-height:35px;}
}

/* 导航右侧 */
@media (min-width: 768px) {
#navbar {
float:right;
}
}

/*导航用户注册*/
.user-panel { margin:10px 20px 0 0px;  }
.user-panel a,
.user-panel a:visited,
.user-panel a:link{
	color: #198DDD;
	font-size: 14px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	border:1px solid #198DDD;
}
.user-panel a:hover{ color:#198DDD;}
.user-panel a.top-login {color:white; background:#198DDD;}
.user-panel a:hover {background:#26c79d; color:white;border:1px solid #26c79d;}
}



@media (min-width: 768px) {
ul.navbar-nav li.oen { height:70px; padding:10px 0px;}
}

.top-nav-right {
  position: absolute;
  top:14px;
  right:0px;
  width:80px;
  height:30px;
  margin:0px;
  padding:0px;
  transition: 600ms; 
}



.top-nav-right ul {margin:0px;padding:0px;}

.top-nav-right ul li { 
float:left; 
width:20px;
line-height:30px;
margin:2px; 
}
.top-nav-right ul li.nav-shopping a { 
position: absolute;
top:0px;
right:0px;display:block; width:20px; height:20px;
}
.shopping-box {margin:0px auto; padding:20px;}
.shopping-box li {margin:10px;}

@media (max-width: 768px) {
.user-panel { margin:10px 0px 0px 0px;  }
.top-nav-right {margin-top:10px;}
.top-nav-right ul li.nav-shopping,
.top-nav-right ul li.glyphicon-search {
display:none;
}
.navbar-toggle {z-index:999;}
.top-nav-right {width:30px;
top:0px;
left:5px; z-index:99; font-size:18px; }
}

#fat-menu {margin-top:3px;}


.navbar.active {padding:0px;transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;}
.navbar.active .top-nav-right {top:5px;}

/* 幻灯文字 */

.carousel-caption {
bottom:10%;
}


.modal {top:20%;}

.bs-example-modal-lg-search .row { padding:20px; }



.hr {clear:both; height:1px; background:#ccc;}






/* 子栏目菜单 */
#metismenu {
  display: block;
  float: left;
  width: 100%;

  border-bottom: 1px solid #eee;
  border-right:1px solid #eee;
  background-image: -webkit-linear-gradient(left, color-stop(#eee 10px), color-stop(#fff 10px));
  background-image: linear-gradient(to right, #eee 10px, #fff 10px);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=1);
}
#metismenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#metismenu a,
#metismenu a:hover,
#metismenu a:focus,
#metismenu a:active {
  outline: none;
}
#metismenu ul li,
#metismenu ul a {
  display: block;
}
#metismenu ul a {
  padding: 10px 20px;
  color: #333;
  border-top: 1px solid #eee;
}
#metismenu ul a:hover,
#metismenu ul a:focus,
#metismenu ul a:active {
  color: #fff;
  text-decoration: none;
  background-color: #ccc;
}
#metismenu ul ul a {
  padding: 10px 30px;
}
#metismenu ul ul a:hover,
#metismenu ul ul a:focus,
#metismenu ul ul a:active {
  background-color: #ccc;
}
#metismenu-item {
  padding-left: 5px;
}
#metismenu-item-icon {
  padding-right: 5px;
}


 #timeline .timeline-item:after,#timeline .timeline-item:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#timeline {
    width: 90%;
    margin: 30px auto;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #ccc;
    left: 50%;
    top: 0;
    position: absolute;
}
#timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%}
#timeline .timeline-item {
    margin-bottom: 50px;
    position: relative;
}
#timeline .timeline-item .timeline-icon {
    background: #ccc;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: -23px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%}
#timeline .timeline-item .timeline-icon img {
    position: relative;
    top: 14px;
    left: 14px;
}
#timeline .timeline-item .timeline-content {
    width: 45%;
    background: #fff;
    padding: 20px;
	border:1px solid #ccc;
    -webkit-box-shadow: 0 3px 0 #ccc;
    -moz-box-shadow: 0 3px 0 #ccc;
    -ms-box-shadow: 0 3px 0 #ccc;
    box-shadow: 0 3px 0 #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h2 {
    padding: 15px;
    background: #ccc;
    color: #fff;
    margin: -20px -20px 20px -20px;
    font-size: 1.2em;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
#timeline .timeline-item .timeline-content:before {
    content: '';
    position: absolute;
    left: 45%;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #ccc;
}
#timeline .timeline-item .timeline-content.right {
    float: right;
}
#timeline .timeline-item .timeline-content.right:before {
    content: '';
    right: 45%;
    left: inherit;
    border-left: 0;
    border-right: 7px solid #ccc;
}
#timeline .timeline-item .btn {
    padding: 5px 15px;
    text-decoration: none;
    background: transparent;
    border: 2px solid #ccc;
    color: #ccc;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    transition: background 0.3s ease;
    -webkit-box-shadow: 2px 2px 0 #ccc;
    -moz-box-shadow: 2px 2px 0 #ccc;
    -ms-box-shadow: 2px 2px 0 #ccc;
    box-shadow: 2px 2px 0 #ccc;
}
#timeline .timeline-item .btn:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
    -webkit-box-shadow: 2px 2px 0 transparent;
    -moz-box-shadow: 2px 2px 0 transparent;
    -ms-box-shadow: 2px 2px 0 transparent;
    box-shadow: 2px 2px 0 transparent;
}
@media screen and (max-width: 768px) {
    #timeline {
    margin: 30px;
    padding: 0;
}
#timeline:before {
    left: 0;
}
#timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
}
#timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #ccc;
}
#timeline .timeline-item .timeline-icon {
    left: 0;
}

.timeline-content p {font-size:12px;}
}

.timeline-icon span.glyphicon {margin:13px 0px 0px 15px;font-size:20px;color:white;}


.table-job ul{ list-style:none; padding:0px 15px; margin:0px; width:100%;
height:38px; line-height:38px; border-top:1px solid #eee;border-bottom:1px solid #eee;border-top:0px; }
.table-job ul li { display:block; width:24%; float:left; line-height:38px;}

.table-job .th{  font-weight:bold; border-bottom:2px solid #999;color:#000 }

.visual-inline-block {display:inline-block}

.visual-guestbook {color:#9b9b9b; }


.visual-guestbook .guestbook_input {clear:both; width:100%; border:none; background:none; border-bottom:1px dotted #ccc; }
.visual-guestbook #guestbook_textarea {clear:both; width:100%; padding-top:15px;}
.visual-guestbook .guestbook_textarea {clear:both; width:100%;border:none; background:none; border-bottom:1px dotted #ccc;}
.visual-guestbook #guestbook_verify {clear:both; float:left; width:260px; padding-top:15px;}
.visual-guestbook input#verify {border:none; background:none; border-bottom:1px dotted #ccc;}
.visual-guestbook .guestbook_btn {float:left; padding:8px 50px; background:#eee; border:none; color:#333;   border-radius: 3px;}
.visual-guestbook .guestbook_btn:hover {background:#165aa5; color:white;}
.visual-guestbook #guestbook_name,
.visual-guestbook #guestbook_tel,
.visual-guestbook #guestbook_email
{float:left;  width:33%; padding:0px 5px;}
#guestbook_title {clear:both; width:100%;padding:0px 5px;}
.foot-contactus {padding:0px; color:#9b9b9b;}
.foot-contactus ul {padding:10px 0px;}

#verifycode_guest {clear:both; margin:20px 0px;}
@media (max-width: 768px) {
.visual-text-box p {line-height:300%;}
}

img.checkout {max-width:150px;}

