<div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_994943">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
                                            <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/section/pictures.png">
<p>幻灯片</p>
                                            </div>
                                            <div class="view">
<div class="column visual-slide ui-sortable">
                                                <div class="custtag" rel="template 'system/slide.html'">
                                                    
<!-- Bootstrap bootstrap-touch-slider Slider Main Style Sheet -->
      

<div id="bootstrap-touch-slider" class="carousel bs-slider fade control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">

<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="1" class=""></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="2" class=""></li>


</ol>

<!-- Wrapper For Slides -->
<div class="carousel-inner" role="listbox">


 
<!-- Second Slide -->
<div class="item active">
<!-- Slide Background -->
<img src="/images/slide/banner01.jpg" alt="响应式网站模板，不同终端，同样精彩 " class="slide-image">

<!-- Slide Text Layer -->
<div class="slide-text slide_style_center">
<h1 data-animation="animated flipInX">响应式网站模板，不同终端，同样精彩 </h1><p data-animation="animated lightSpeedIn">全新推出「响应式网站模板」，移动端访客能够得到与电脑网站一样的体验，轻松找到在电脑网站上看到的内容，无论是在电脑、平板、手机上都可以访问到排版合适的网站，即便是微信等应用内置浏览器也是如此。</p> <a href="#" target="_blank" class="btn btn-primary" data-animation="animated fadeInDown">了解更多</a></div>
</div>
<!-- End of Slide -->

<!-- Second Slide -->
<div class="item">
<!-- Slide Background -->
<img src="/images/slide/banner02.jpg" alt="海量精美模板免费下载" class="slide-image">

<!-- Slide Text Layer -->
<div class="slide-text slide_style_center">
<h1 data-animation="animated flipInX">海量精美模板免费下载</h1><p data-animation="animated lightSpeedIn">一款基于 PHP+Mysql 架构的网站内容管理系统，也是一个 PHP 开发平台。 采用模块化方式开发，功能易用便于扩展，可面向大中型站点提供重量级网站建设解决方案。</p> <a href="#" target="_blank" class="btn btn-primary" data-animation="animated fadeInDown">了解更多</a></div>
</div>
<!-- End of Slide -->


<!-- Second Slide -->
<div class="item">
<!-- Slide Background -->
<img src="/images/slide/banner03.jpg" alt="唯一内置推广模块的企业网站管理系统！" class="slide-image">

<!-- Slide Text Layer -->
<div class="slide-text slide_style_center">
<h1 data-animation="animated flipInX">唯一内置推广模块的企业网站管理系统！</h1><p data-animation="animated lightSpeedIn">全国首家内置推广联盟模块的企业网站系统，为企业在营销推广方面，提供了非常便捷的方法和功能。通过推广联盟，企业可针对联盟会员进行统计外链发布数量，通过外链访问的流量统计，并可计算出通过外链而注册的企业用户数量。</p> <a href="#" target="_blank" class="btn btn-primary" data-animation="animated fadeInDown">了解更多</a></div>
</div>
<!-- End of Slide -->


</div><!-- End of Wrapper For Slides -->

<!-- Left Control -->
<a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>

<!-- Right Control -->
<a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>

</div>
      
  <style type="text/css">
.slide-text > h1,.slide-text > p {color:#ffffff;}
.slide-text > a.btn-primary {background:#0099ff;color:#ffffff;}
  </style>




<div class="clearfix"></div>
                                                </div>
</div>
                                            </div>
                                        </div></div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_794463">
<div class="row column ui-sortable">

<div class="lyrow container position-move ui-draggable box-layout clearfix" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix layout_353954">
<div class="row column ui-sortable">


</div>
</div>
</div>
</div><div class="clearfix"></div>
</div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_186539 text-center" style="">
<div class="row column ui-sortable">

<div class="lyrow container position-move ui-draggable box-layout" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix layout_361834">
<div class="row column ui-sortable">

<div class="lyrow box-div ui-draggable" style="">
    <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
   	<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>
                                            <div class="preview">
                                                <img src="/images/admin/visual/layouts/3-3-3-3.png">
<p>3 3 3 3</p>
                                            </div>
                                            <div class="view" contenteditable="true">
                       
                                                    <div class="col-sm-6 col-md-3 layout_695889">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
                                <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#template-category-tag" role="button" data-toggle="modal" title="设置"><i class="glyphicon glyphicon-pencil"></i></span>

                                <div class="preview">
                                     <img src="/images/admin/visual/section/tag_category.png">
<p> 栏目标签</p>
                                </div>
                                <div class="view"><div class="tag"><span class="removeClean tagname">{tag_首页第一行子栏目一}</span><div class="index-1-box">
<div class="index-1">
<div class="img-auto">
<img alt="企业文化" src="/upload/images/201506/wenhua.jpg" class="img-responsive" data-src="/upload/images/201506/wenhua.jpg" onerror="this.src=" images="" nopic.gif""="">
</div>
<a href="/index.php?case=archive&act=list&catid=4" title="企业文化">企业文化</a>
<p>culture</p>
</div>
<div class="index-1-2">
corporate culture</div>
</div>
</div></div>
                            </div></div>
                                                    </div>

<div class="col-sm-6 col-md-3 layout_911635">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="position: relative; opacity: 1; left: 0px; top: 0px;">
                                <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#template-category-tag" role="button" data-toggle="modal" title="设置"><i class="glyphicon glyphicon-pencil"></i></span>

                                <div class="preview">
                                     <img src="/images/admin/visual/section/tag_category.png">
<p> 栏目标签</p>
                                </div>
                                <div class="view"><div class="tag"><span class="removeClean tagname">{tag_首页第一行子栏目二}</span><div class="index-1-box">
<div class="index-1">
<div class="img-auto">
<img alt="职位招聘" src="/upload/images/201506/zhaopin.jpg" class="img-responsive" data-src="/upload/images/201506/zhaopin.jpg" onerror="this.src=" images="" nopic.gif""="">
</div>
<a href="/index.php?case=archive&act=list&catid=7" title="职位招聘">职位招聘</a>
<p>job</p>
</div>
<div class="index-1-2">
Recruiting talents</div>
</div>
</div></div>
                            </div></div>
                                                    </div>

<div class="col-sm-6 col-md-3 layout_719771">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
                                <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#template-category-tag" role="button" data-toggle="modal" title="设置"><i class="glyphicon glyphicon-pencil"></i></span>

                                <div class="preview">
                                     <img src="/images/admin/visual/section/tag_category.png">
<p> 栏目标签</p>
                                </div>
                                <div class="view"><div class="tag"><span class="removeClean tagname">{tag_首页第一行子栏目三}</span><div class="index-1-box">
<div class="index-1">
<div class="img-auto">
<img alt="公司荣誉" src="/upload/images/201506/rongyu.jpg" class="img-responsive" data-src="/upload/images/201506/rongyu.jpg" onerror="this.src=" images="" nopic.gif""="">
</div>
<a href="/index.php?case=archive&act=list&catid=11" title="公司荣誉">公司荣誉</a>
<p>honor</p>
</div>
<div class="index-1-2">
Company honor</div>
</div>
</div></div>
                            </div></div>
                                                    </div>

<div class="col-sm-6 col-md-3 layout_470950">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
                                <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#template-category-tag" role="button" data-toggle="modal" title="设置"><i class="glyphicon glyphicon-pencil"></i></span>

                                <div class="preview">
                                     <img src="/images/admin/visual/section/tag_category.png">
<p> 栏目标签</p>
                                </div>
                                <div class="view"><div class="tag"><span class="removeClean tagname">{tag_首页第一行子栏目四}</span><div class="index-1-box">
<div class="index-1">
<div class="img-auto">
<img alt="发展历程" src="/upload/images/201506/gushi.jpg" class="img-responsive" data-src="/upload/images/201506/gushi.jpg" onerror="this.src=" images="" nopic.gif""="">
</div>
<a href="/index.php?case=archive&act=list&catid=12" title="发展历程">发展历程</a>
<p>history</p>
</div>
<div class="index-1-2">
Company development process</div>
</div>
</div></div>
                            </div></div>
                                                    </div>

                                         <div class="clearfix layout_377215"></div>
                                            </div>
                                        </div><div class="clearfix"></div>
</div>
</div>
</div>
</div><div class="clearfix"></div>
</div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_236155">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
                                <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#template-category-tag" role="button" data-toggle="modal" title="设置"><i class="glyphicon glyphicon-pencil"></i></span>

                                <div class="preview">
                                     <img src="/images/admin/visual/section/tag_category.png">
<p> 栏目标签</p>
                                </div>
                                <div class="view"><div class="tag"><span class="removeClean tagname">{tag_首页第二行栏目}</span><div class="title">
<h3 class="wow fadeInDown" data-wow-delay="0.5s"><a href="/index.php?case=archive&act=list&catid=2" title="企业新闻">企业新闻<small>LET SHARE VALUE RECORD ENTERPRISE DEVELOPMENT STEPS</small></a></h3>
<p class="wow fadeIn" data-wow-delay="0.5s">让价值共享 记录企业发展脚步</p>
<span>——</span>
</div>
</div></div>
                            </div></div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_894184">
<div class="row column ui-sortable">

<div class="lyrow container position-move ui-draggable box-layout" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix layout_813502">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
    <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
        <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#template-content-tag" role="button" data-toggle="modal" title="设置"><i class="glyphicon glyphicon-pencil"></i></span>
    <div class="preview">
         <img src="/images/admin/visual/section/tag_content.png">
<p>内容标签</p>
    </div>
    <div class="view"><div class="tag"><span class="removeClean tagname">{tag_首页第二行图文列表}</span><div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
<div class="index-2-box">
<div class="img-auto">
<h4><a style="color:;" href="/index.php?case=archive&act=show&aid=46" title="VR展示" target="_blank"><font style="color:;">VR展示</font></a></h4>
<a href="/index.php?case=archive&act=show&aid=46" target="_blank"><img alt="VR展示" src="/upload/images/201506/gushi.jpg" onerror="this.src=" images="" nopic.gif""="" class="img-responsive"></a>
<p class="date">2017-03-09</p>
<p>...</p>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
<div class="index-2-box">
<div class="img-auto">
<h4><a style="color:;" href="/index.php?case=archive&act=show&aid=47" title="视频演示" target="_blank"><font style="color:;">视频演示</font></a></h4>
<a href="/index.php?case=archive&act=show&aid=47" target="_blank"><img alt="视频演示" src="/images/nopic.gif" onerror="this.src=" images="" nopic.gif""="" class="img-responsive"></a>
<p class="date">2017-03-09</p>
<p>...</p>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
<div class="index-2-box">
<div class="img-auto">
<h4><a style="color:;" href="/index.php?case=archive&act=show&aid=28" title="企业在网站建设前应该理清网站建设需求" target="_blank"><font style="color:;">企业在网站建设前应该理清网站建设需求</font></a></h4>
<a href="/index.php?case=archive&act=show&aid=28" target="_blank"><img alt="企业在网站建设前应该理清网站建设需求" src="/upload/images/201507/14360457171025.jpg" onerror="this.src=" images="" nopic.gif""="" class="img-responsive"></a>
<p class="date">2015-08-04</p>
<p>一些公司也许本来不需要网站，但是周围的公司或者同行都纷纷做网站了，于是自己在网站建设公司销售...</p>
</div>
</div>
</div>
</div></div>
</div></div>
</div>
</div>
</div><div class="clearfix"></div>
</div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_225058">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
                                <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#template-category-tag" role="button" data-toggle="modal" title="设置"><i class="glyphicon glyphicon-pencil"></i></span>

                                <div class="preview">
                                     <img src="/images/admin/visual/section/tag_category.png">
<p> 栏目标签</p>
                                </div>
                                <div class="view"><div class="tag" style=""><span class="removeClean tagname">{tag_首页第三行栏目}</span><div class="title">
<h3 class="wow fadeInDown" data-wow-delay="0.5s"><a href="/index.php?case=archive&act=list&catid=1" title="关于我们">关于我们<small>THE STRENGTH OF BRAND INNOVATION SCIENCE AND TECHNOLOGY WILL NEVER STOP</small></a></h3>
<p class="wow fadeIn" data-wow-delay="0.5s">实力品牌 专业技能 技术人才 创新科技 永不止步</p>
<span>——</span>
</div>
</div></div>
                            </div></div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout" style="position: relative; opacity: 1; left: 0px; top: 0px;">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_931408" style="">
<div class="row column ui-sortable">

<div class="lyrow container position-move ui-draggable box-layout" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix layout_384845">
<div class="row column ui-sortable">

<div class="lyrow box-div ui-draggable" style="">
    <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    	<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

                                            <div class="preview">
                                                <img src="/images/admin/visual/layouts/6-6.png">
                                                <p>6 6</p>
                                            </div>
                                            <div class="view" contenteditable="true">
                                               
                                                    <div class="col-md-6 layout_988282">
<div class="row column ui-sortable">


<div class="box box-element ui-draggable" style="">
                                   <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
<span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
                                    <div class="preview">
                                        <img src="/images/admin/visual/section/text.png">
<p>文字</p>
                                    </div>
                                    <div class="view">

                                        <div class="column visual-text ui-sortable" contenteditable="true">
                                              <p>
                                            易通企业网站系统也称企业网站程序，系统前台生成html、完全符合SEO、同时有在线客服、潜在客户跟踪、便捷的企业网站管理、搜索引擎推广等功能。
                                        </p>
<div class="clearfix"></div>
                                        </div>
                        
</div>
                                </div></div>
                                                    </div>
                                                    <div class="col-md-6 layout_920295">
<div class="row column ui-sortable">


<div class="box box-element ui-draggable" style="">
<a href="#close" class="remove label label-danger" title="删除">
<i class="glyphicon-remove glyphicon"></i>
</a>
<span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#videoModel" role="button" data-toggle="modal" title="视频"><i class="glyphicon glyphicon-pencil"></i></span>
<div class="preview">
<img src="/images/admin/visual/section/video.png">
<p>
视频
</p>
</div>
<div class="view">
<div class="column visual-video ui-sortable" style="height: 350px;">
<iframe src="ckplayer.php?url=http://img.ksbbs.com/asset/Mon_1703/05cacb4e02f9d9e.mp4&autoplay=false" width="100%" height="100%" frameborder="0" allowfullscreen=""></iframe>
<div class="clearfix"></div>
</div>
</div>
</div></div>
                                                    </div>
                              <div class="clearfix layout_66080"></div>
                                            </div>
                                        </div><div class="clearfix"></div>
</div>
</div>
</div>
</div><div class="clearfix"></div>
</div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_140521">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
                                <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#template-category-tag" role="button" data-toggle="modal" title="设置"><i class="glyphicon glyphicon-pencil"></i></span>

                                <div class="preview">
                                     <img src="/images/admin/visual/section/tag_category.png">
<p> 栏目标签</p>
                                </div>
                                <div class="view"><div class="tag"><span class="removeClean tagname">{tag_首页第四行栏目}</span><div class="title">
<h3 class="wow fadeInDown" data-wow-delay="0.5s"><a href="/index.php?case=archive&act=list&catid=3" title="产品中心">产品中心<small>FOCUS ON WEB DESIGN BRAND POSITIONING HELP YOU REALIZE THE VALUE OF INTERNET BRAND</small></a></h3>
<p class="wow fadeIn" data-wow-delay="0.5s">专注高端 精准定位 用心服务 帮您实现品牌价值</p>
<span>——</span>
</div>
</div></div>
                            </div></div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_799195 text-center">
<div class="row column ui-sortable">

<div class="lyrow container position-move ui-draggable box-layout" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix layout_923608">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
    <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
        <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#template-content-tag" role="button" data-toggle="modal" title="设置"><i class="glyphicon glyphicon-pencil"></i></span>
    <div class="preview">
         <img src="/images/admin/visual/section/tag_content.png">
<p>内容标签</p>
    </div>
    <div class="view"><div class="tag"><span class="removeClean tagname">{tag_首页第四行滚动图片}</span><div id="owl-demo" class="owl-carousel wow fadeInDown owl-theme" data-wow-delay="0.5s" style="opacity: 1; display: block;">
<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 7800px; left: 0px; display: block;"><div class="owl-item" style="width: 390px;"><div class="owl-wrapper-outer"><div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 7800px; left: 0px; display: block;"><div class="owl-item" style="width: 390px;"><div class="item">
<a title="下载演示一" target="_blank" href="/index.php?case=archive&act=show&aid=25" class="img-auto">
<img alt="下载演示一" src="/upload/images/201507/14360850166878.jpg" class="img-responsive"></a>
<a title="下载演示一" target="_blank" href="/index.php?case=archive&act=show&aid=25"><h4>下载演示一<small></small></h4></a>
</div></div><div class="owl-item" style="width: 390px;"><div class="item">
<a title="为什么越来越多的社群会死掉?" target="_blank" href="/index.php?case=archive&act=show&aid=30" class="img-auto">
<img alt="为什么越来越多的社群会死掉?" src="/upload/images/201507/14360847171025.jpg" class="img-responsive"></a>
<a title="为什么越来越多的社群会死掉?" target="_blank" href="/index.php?case=archive&act=show&aid=30"><h4>为什么越来越多的社群会死掉?<small></small></h4></a>
</div></div><div class="owl-item" style="width: 390px;"><div class="item">
<a title="产品演示二" target="_blank" href="/index.php?case=archive&act=show&aid=15" class="img-auto">
<img alt="产品演示二" src="/upload/images/201507/14360850166868.jpg" class="img-responsive"></a>
<a title="产品演示二" target="_blank" href="/index.php?case=archive&act=show&aid=15"><h4>产品演示二<small></small></h4></a>
</div></div><div class="owl-item" style="width: 390px;"><div class="item">
<a title="产品展示一" target="_blank" href="/index.php?case=archive&act=show&aid=18" class="img-auto">
<img alt="产品展示一" src="/upload/images/201507/14360807793703.jpg" class="img-responsive"></a>
<a title="产品展示一" target="_blank" href="/index.php?case=archive&act=show&aid=18"><h4>产品展示一<small></small></h4></a>
</div></div><div class="owl-item" style="width: 390px;"><div class="item">
<a title="产品展示三" target="_blank" href="/index.php?case=archive&act=show&aid=10" class="img-auto">
<img alt="产品展示三" src="/upload/images/201507/14360818253526.jpg" class="img-responsive"></a>
<a title="产品展示三" target="_blank" href="/index.php?case=archive&act=show&aid=10"><h4>产品展示三<small></small></h4></a>
</div></div><div class="owl-item" style="width: 390px;"><div class="item">
<a title="创业公司中好的市场人员是如何获取流量的？" target="_blank" href="/index.php?case=archive&act=show&aid=24" class="img-auto">
<img alt="创业公司中好的市场人员是如何获取流量的？" src="/upload/images/201507/14360826511736.jpg" class="img-responsive"></a>
<a title="创业公司中好的市场人员是如何获取流量的？" target="_blank" href="/index.php?case=archive&act=show&aid=24"><h4>创业公司中好的市场人员是如何获取流量的？<small></small></h4></a>
</div></div><div class="owl-item" style="width: 390px;"><div class="item">
<a title="产品展示四" target="_blank" href="/index.php?case=archive&act=show&aid=11" class="img-auto">
<img alt="产品展示四" src="/upload/images/201507/14360850166123.jpg" class="img-responsive"></a>
<a title="产品展示四" target="_blank" href="/index.php?case=archive&act=show&aid=11"><h4>产品展示四<small></small></h4></a>
</div></div><div class="owl-item" style="width: 390px;"><div class="item">
<a title="产品展示五" target="_blank" href="/index.php?case=archive&act=show&aid=12" class="img-auto">
<img alt="产品展示五" src="/upload/images/201507/14360848007276.jpg" class="img-responsive"></a>
<a title="产品展示五" target="_blank" href="/index.php?case=archive&act=show&aid=12"><h4>产品展示五<small></small></h4></a>
</div></div></div></div></div></div><div class="owl-item" style="width: 390px;"><div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons "><div class="owl-prev"><</div><div class="owl-next">></div></div></div></div></div></div>







<div class="owl-controls clickable" style="display: none;"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons "><div class="owl-prev"><</div><div class="owl-next">></div></div></div></div></div></div>
</div></div>
</div>
</div>
</div><div class="clearfix"></div>
</div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout clearfix" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_145179">
<div class="row column ui-sortable">


<div class="box box-element visual-inline-block ui-draggable" style="">
    <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#codeModel" role="button" data-toggle="modal" title="源码">
<i class="glyphicon glyphicon-eye-open"></i>
</span>


    <div class="preview">
        <img src="/images/admin/visual/section/embed.png">
        <p>源码</p>
    </div>
    <div class="view">
<div class="visual-code-box">
        <div class="visual-code"></div>
        <div class="visual-code-show">源码</div>
</div>
    </div>
</div></div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_749194">
<div class="row column ui-sortable">

<div class="box box-element ui-draggable" style="position: relative; opacity: 1; z-index: 0;">
                                <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
    <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#template-category-tag" role="button" data-toggle="modal" title="设置"><i class="glyphicon glyphicon-pencil"></i></span>

                                <div class="preview">
                                     <img src="/images/admin/visual/section/tag_category.png">
<p> 栏目标签</p>
                                </div>
                                <div class="view"><div class="tag" style=""><span class="removeClean tagname">{tag_第六行栏目}</span><div class="title">
<h3 class="wow fadeInDown" data-wow-delay="0.5s"><a href="/index.php?case=archive&act=list&catid=14" title="案例展示">案例展示<small>HAS BEEN FULL OF ENTHUSIASM TO MEET UNDERSTAND DESIGN YOU!</small></a></h3>
<p class="wow fadeIn" data-wow-delay="0.5s">有活力、有梦想、有品位、有创意，与一般团队有独特区别的年轻队伍</p>
<span>——</span>
</div>
</div></div>
                            </div><div class="clearfix"></div>
</div>
</div>
</div>
</div><div class="lyrow position-move ui-draggable box-layout" style="">
<span class="drag drag-container label label-default div-up" title="上移"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container-fluid.png">
<p>全屏</p>
</div>
<div class="view" contenteditable="true">

<div class="container-fluid clearfix layout_600234" style="margin-bottom: 30px;">
<div class="row column ui-sortable">

<div class="lyrow container position-move ui-draggable box-layout" title="上移" style="">
<span class="drag drag-container label label-default div-up"><i class="glyphicon glyphicon-arrow-up">
                                                </i></span>

<span class="drag drag-container label label-default div-down" title="下移"><i class="glyphicon glyphicon-arrow-down">
                                                </i></span>

<a href="#close" class="remove remove-container label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>

<span class="drag drag-container label label-default div-drag" data-target="#div-config" role="button" data-toggle="modal" title="层属性">
        <i class="glyphicon glyphicon-cog" title="Layouts"></i>		层属性
    </span>

<div class="preview">
<img src="/images/admin/visual/layouts/container.png">
<p>宽屏</p>
</div>
<div class="view" contenteditable="true">
<div class="container clearfix layout_215766">
<div class="row column ui-sortable">

<div class="clearfix"></div>
<div class="box box-element ui-draggable" style="">
    <a href="#close" class="remove label label-danger" title="删除">
        <i class="glyphicon-remove glyphicon">
        </i>
    </a>
        <span class="drag drag-container label label-default btn-sections-config" data-target="#div-config" role="button" data-toggle="modal" title="层属性"><i class="glyphicon glyphicon-cog"></i></span>
<span class="drag label label-default btn-tag-config" data-target="#template-content-tag" role="button" data-toggle="modal" title="设置"><i class="glyphicon glyphicon-pencil"></i></span>
    <div class="preview">
         <img src="/images/admin/visual/section/tag_content.png">
<p>内容标签</p>
    </div>
    <div class="view"><div class="tag"><span class="removeClean tagname">{tag_第六行图片列表}</span><li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 index-6-pic">
<a title="案例展示" target="_blank" href="/index.php?case=archive&act=show&aid=31" class="img-auto">
<img alt="案例展示" src="/upload/images/201607/links_01.jpg" class="img-responsive" data-src="/upload/images/201607/links_01.jpg" onerror="this.src=" images="" nopic.gif""="">
</a>
</li>
<li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 index-6-pic">
<a title="案例展示" target="_blank" href="/index.php?case=archive&act=show&aid=32" class="img-auto">
<img alt="案例展示" src="/upload/images/201607/links_02.jpg" class="img-responsive" data-src="/upload/images/201607/links_02.jpg" onerror="this.src=" images="" nopic.gif""="">
</a>
</li>
<li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 index-6-pic">
<a title="案例展示" target="_blank" href="/index.php?case=archive&act=show&aid=33" class="img-auto">
<img alt="案例展示" src="/upload/images/201607/links_03.jpg" class="img-responsive" data-src="/upload/images/201607/links_03.jpg" onerror="this.src=" images="" nopic.gif""="">
</a>
</li>
<li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 index-6-pic">
<a title="案例展示" target="_blank" href="/index.php?case=archive&act=show&aid=34" class="img-auto">
<img alt="案例展示" src="/upload/images/201607/links_04.jpg" class="img-responsive" data-src="/upload/images/201607/links_04.jpg" onerror="this.src=" images="" nopic.gif""="">
</a>
</li>
<li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 index-6-pic">
<a title="案例展示" target="_blank" href="/index.php?case=archive&act=show&aid=35" class="img-auto">
<img alt="案例展示" src="/upload/images/201607/links_05.jpg" class="img-responsive" data-src="/upload/images/201607/links_05.jpg" onerror="this.src=" images="" nopic.gif""="">
</a>
</li>
<li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 index-6-pic">
<a title="案例展示" target="_blank" href="/index.php?case=archive&act=show&aid=36" class="img-auto">
<img alt="案例展示" src="/upload/images/201607/links_06.jpg" class="img-responsive" data-src="/upload/images/201607/links_06.jpg" onerror="this.src=" images="" nopic.gif""="">
</a>
</li>
<li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 index-6-pic">
<a title="案例展示" target="_blank" href="/index.php?case=archive&act=show&aid=37" class="img-auto">
<img alt="案例展示" src="/upload/images/201607/links_07.jpg" class="img-responsive" data-src="/upload/images/201607/links_07.jpg" onerror="this.src=" images="" nopic.gif""="">
</a>
</li>
<li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 index-6-pic">
<a title="案例展示" target="_blank" href="/index.php?case=archive&act=show&aid=38" class="img-auto">
<img alt="案例展示" src="/upload/images/201607/links_08.jpg" class="img-responsive" data-src="/upload/images/201607/links_08.jpg" onerror="this.src=" images="" nopic.gif""="">
</a>
</li>
<li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 index-6-pic">
<a title="案例展示" target="_blank" href="/index.php?case=archive&act=show&aid=39" class="img-auto">
<img alt="案例展示" src="/upload/images/201607/links_09.jpg" class="img-responsive" data-src="/upload/images/201607/links_09.jpg" onerror="this.src=" images="" nopic.gif""="">
</a>
</li>
<li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 index-6-pic">
<a title="案例展示" target="_blank" href="/index.php?case=archive&act=show&aid=40" class="img-auto">
<img alt="案例展示" src="/upload/images/201607/links_10.jpg" class="img-responsive" data-src="/upload/images/201607/links_10.jpg" onerror="this.src=" images="" nopic.gif""="">
</a>
</li>
<li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 index-6-pic">
<a title="案例展示" target="_blank" href="/index.php?case=archive&act=show&aid=41" class="img-auto">
<img alt="案例展示" src="/upload/images/201607/links_11.jpg" class="img-responsive" data-src="/upload/images/201607/links_11.jpg" onerror="this.src=" images="" nopic.gif""="">
</a>
</li>
<li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 index-6-pic">
<a title="案例展示" target="_blank" href="/index.php?case=archive&act=show&aid=42" class="img-auto">
<img alt="案例展示" src="/upload/images/201607/links_12.jpg" class="img-responsive" data-src="/upload/images/201607/links_12.jpg" onerror="this.src=" images="" nopic.gif""="">
</a>
</li>
</div></div>
</div></div>
</div>
</div>
</div><div class="clearfix"></div>
</div>
</div>
</div>
</div>