@charset "UTF-8";



/*footer*/

.footer-1,.footer-1 a {
	color:white;
}

/*width*/

.width-percentage-100 {
	width:100%;
}

/* height */

.height-percentage-100 {
	height:100%;
}

.height-100 {
	height:500px;
}

.height-300 {
	height:500px;
}

.height-500 {
	height:500px;
}

.height-600 {
	height:600px;
}

.height-700 {
	height:700px;
}

.height-800 {
	height:800px;
}

.height-900 {
	height:900px;
}

.height-1000 {
	height:1000px;
}


.height-1100 {
	height:1100px;
}


.height-1200 {
	height:1200px;
}



.min-height-500 {
	min-height:500px;
}


.min-height-800 {
	min-height:800px;
}

.min-height-1000 {
	min-height:1000px;
}


/*color*/

.color-white,.color-white a,a.color-white {color:white;}
.color-black,.color-black a,a.color-black {color:#333;}
.color-violet,.color-violet a,a.color-violet {color:#425cbb;}
.color-gray,.color-gray a,a.color-gray {color:#999;}
.color-red,.color-red a,a.color-red {color:#FF9900;}



/*font*/

.font-size-8 {
font-size:8px;
}

.font-size-10 {
	font-size:10px;
}


.font-size-12 {
	font-size:12px;
}

.font-size-14 {
	font-size:14px;
}

.font-size-16 {
	font-size:16px;
}

.font-size-18 {
	font-size:18px;
}

.font-size-20 {
	font-size:20px;
}

.font-size-22 {
	font-size:22px;
}

.font-size-24 {
	font-size:24px;
}

.font-size-26 {
	font-size:26px;
}

.font-size-28 {
	font-size:28px;
}

.font-size-30 {
	font-size:30px;
}

.font-size-32 {
	font-size:32px;
}

.font-size-34 {
	font-size:34px;
}

.font-size-36 {
	font-size:36px;
}

.font-size-38 {
	font-size:38px;
}

.font-size-40 {
	font-size:40px;
}

.font-size-50 {
	font-size:50px;
}

.font-size-60 {
	font-size:60px;
}

.font-size-70 {
	font-size:70px;
}


/*bolrder*/
.border-right-white {
	border-right:1px solid white;
}

/*opacity*/

.opacity05 {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.opacity1 {
	opacity: 1;
}

/* background */

.background-white-opacity-02 {
	background: rgba(255,255,255,.2);
}

.background-gray-opacity {
	background: rgba(3,3,3,.3);
}

.background-violet {
	background:#425cbb;
}

.background-gray {
	background:#f5f5f5;
}

.background-dark {
	background:#333;
}


.background-white {
	background:white;
}

.background-black {
	background:#000;
}

.background-black {
	background:#000;
}

.background-cover {
    
    background-size: cover !important;
    background-position: 50% 50% !important;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    background: #232323;
}

.background-cover:not([class*='col-']) {
    width: 100%;
}

.background-shadow {
	-moz-box-shadow:0px 0px 15px #ccc;
	-webkit-box-shadow:0px 0px 15px #ccc;
	box-shadow:0px 0px 15px #ccc;
	transition: 600ms; 
}

.background-hover-shadow:hover {
	-moz-box-shadow:0px 0px 15px #ccc;
	-webkit-box-shadow:0px 0px 15px #ccc;
	box-shadow:0px 0px 15px #ccc;
	transition: 600ms; 
}


.background-fixed {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed !important;
}


/*margin*/

.margin-5 {
	margin:5px;
}

.margin-10 {
	margin:10px;
}

.margin-20 {
	margin:20px;
}

.margin-30 {
  margin:30px;
}

.margin-40 {
  margin:40px;
}

.margin-50 {
  margin:50px;
}

.margin-top-5 {
	margin-top:5px;
}

.margin-top-10 {
	margin-top:10px;
}

.margin-top-20 {
	margin-top:20px;
}

.margin-top-30 {
	margin-top:30px;
}

.margin-top-50 {
	margin-top:50px;
}

.margin-top-percentage-5 {
	margin-top:5%;
}

.margin-top-percentage-10 {
	margin-top:10%;
}

.margin-top-percentage-20 {
	margin-top:20%;
}

.margin-top-percentage-50 {
	margin-top:50%;
}

/* pading */

.padding-5 {
	padding:5px;
}

.padding-10 {
	padding:10px;
}

.padding-20 {
	padding:20px;
}

.padding-30 {
  padding:30px;
}

.padding-40 {
  padding:40px;
}

.padding-50 {
  padding:50px;
}

.padding-80 {
  padding:80px;
}


.padding-100 {
  padding:100px;
}


.padding-50 {
  padding:50px;
}


.padding-150 {
  padding:150px;
}


.padding-200 {
  padding:200px;
}


.padding-300 {
  padding:300px;
}


.padding-500 {
  padding:500px;
}



.padding-top-5 {
  padding:5px;
}

.padding-top-10 {
  padding-top:10px;
}

.padding-top-20 {
  padding-top:20px;
}

.padding-top-30 {
  padding-top:30px;
}

.padding-top-40 {
  padding-top:40px;
}

.padding-top-50 {
  padding-top:50px;
}

.padding-bottom-5 {
  padding-bottom:5px;
}

.padding-bottom-10 {
  padding-bottom:10px;
}

.padding-bottom-20 {
  padding-bottom:20px;
}

.padding-bottom-30 {
  padding-bottom:30px;
}

.padding-bottom-40 {
  padding-bottom:40px;
}

.padding-bottom-50 {
  padding-bottom:50px;
}


.padding-percentage-1 {
	padding:1%;
}

.padding-percentage-3 {
	padding:3%;
}

.padding-percentage-5 {
	padding:5%;
}


.padding-percentage-10 {
	padding:10%;
}

.padding-percentage-20 {
	padding:20%;
}

.padding-percentage-30 {
	padding:30%;
}

.padding-percentage-50 {
	padding:50%;
}







.padding-percentage-top-50 {
	padding-top:50%;
}


/*glyphicon*/

.glyphicon:hover {
	color:#546cc3;
}


/*btn*/

.btn-violet,a.btn-violet {
	margin:10px;
	padding:15px 55px;
	border-color: #425cbb;
	background:#425cbb;
	border-radius:25px 25px 25px 25px;
}
.btn-violet:hover,a.btn-violet:hover {
	background:#546cc3;
}

.btn-white,a.btn-white {
	margin:10px;
	padding:15px 55px;
	border-radius:25px 25px 25px 25px;
}

/*z-index*/


.z-index-0 {
	z-index:0;
}

.z-index-1 {
	z-index:1;
}


.z-index-9 {
	z-index:9;
}


/*position*/
.position-absolute {
	position: absolute;
}

.position-relative {
	position: relative;
}

.top-0 {
	top:0px;
}

.left-0 {
	left:0px;
}

.right-0 {
	right:0px;
}

.bottom-0 {
	bottom:0px;
}


.level-center {
	margin:0px auto;
}


.vertical-center {
	width:100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
} 


/*input*/

.input-with-icon {
	position: relative;
}

.input-with-icon em,.input-with-icon i {
	position: absolute;
	top: 40px;
    left: 20px;
	font-size:20px;
	color:#333;
}

input.input-border-radius {
	height:50px;
	background:#f5f5f5;
	border-radius: 50px;
	border:none;
	padding-left:50px;
}

		
/*search*/

.inline-search .form-control {
	width:100%;
	height:50px;
	background: rgba(255, 255, 255, 0.3);
    color: #fff;
	border-radius: 50px 0 0 50px;
	border:none;
}


.inline-search span.input-group-btn .btn {
	width:100%;
	margin:0px;
	border-radius: 0px 50px 50px 0px;
	border:none;
}

.inline-search span.input-group-btn .btn:hover {
	color:white;
}


.top-link {
    width: 3.25em;
    height: 3.25em;
    border-radius: 50%;
    background: #3d3d3d;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 4;
    bottom: 3.25em;
    padding-top: 12px;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
}

.top-link:hover {
    transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
}

@media all and (max-width: 990px) {
    .top-link {
        bottom: 0;
    }
}

@media all and (max-width: 767px) {
    .top-link {
        margin-top: 1.625em;
    }
}








.a-hover-cover {
	display:block;
	width:100%;
	height:100%;
}

.a-hover-cover div {
	display:none;
}

.a-hover-cover:hover {
	background:#333;
	color:#fff;
	filter:alpha(opacity=56);
	-moz-opacity:0.8;
	opacity:0.8;
	text-decoration: none;
	margin-top:-10px;
}

.a-hover-cover:hover div {
	display:block;
}



.carousel-caption {top:30%;color:white;}

	@media (max-width: 468px) {
	.carousel-caption {top:10%;}
	}


.carousel img {width:100%;}

p {line-height:180%}


.text-bold{font-weight: bold;}
.text-italic{font-style: italic;}


/* image */
.image-cover {width:100%;}


.hr {clear:both; height:1px; background:#ccc;}






/* 子栏目菜单 */
#metismenu {
  display: block;
  float: left;
  width: 100%;

  border-bottom: 1px solid #eee;
  border-right:1px solid #eee;
  background-image: -webkit-linear-gradient(left, color-stop(#eee 10px), color-stop(#fff 10px));
  background-image: linear-gradient(to right, #eee 10px, #fff 10px);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=1);
}
#metismenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#metismenu a,
#metismenu a:hover,
#metismenu a:focus,
#metismenu a:active {
  outline: none;
}
#metismenu ul li,
#metismenu ul a {
  display: block;
}
#metismenu ul a {
  padding: 10px 20px;
  color: #333;
  border-top: 1px solid #eee;
}
#metismenu ul a:hover,
#metismenu ul a:focus,
#metismenu ul a:active {
  color: #fff;
  text-decoration: none;
  background-color: #ccc;
}
#metismenu ul ul a {
  padding: 10px 30px;
}
#metismenu ul ul a:hover,
#metismenu ul ul a:focus,
#metismenu ul ul a:active {
  background-color: #ccc;
}
#metismenu-item {
  padding-left: 5px;
}
#metismenu-item-icon {
  padding-right: 5px;
}

