

<div id="navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li class="oen{if $topid==0} active{/if}"><a href="{$base_url}/">{lang('homepage')}</a></li>
{loop categories_nav() $t}
<li class="oen{if isset($topid) && $topid==$t[catid]} active{/if}{if count(categories($t['catid']))} dropdown{/if}">
<a href="{$t['url']}"{if config::get('nav_blank')==1} target=" _blank"{/if}{if count(categories($t['catid']))} data-toggle="dropdown" data-submenu=""{/if}
>{$t['catname']}{if count(categories($t['catid']))}<span class="caret"></span>{/if}</a>
{if count(categories($t['catid']))}
<ul class="two dropdown-menu">
{loop categories_nav($t['catid']) $t1}
<li{if count(categories($t1['catid']))} class="dropdown-submenu"{/if}>
<a title="{$t1['catname']}" href="{$t1['url']}">{$t1['catname']}</a>
{if count(categories($t1['catid']))}
<ul class="three dropdown-menu">
{loop categories_nav($t1['catid']) $t2}
<li{if count(categories($t2['catid']))} class="dropdown-submenu"{/if}>
<a title="{$t2['catname']}" href="{$t2['url']}">{$t2['catname']}</a>
{if count(categories($t2['catid']))}
<ul class="four dropdown-menu">
{loop categories_nav($t2['catid']) $t3}
<li{if count(categories($t3['catid']))} class="dropdown-submenu"{/if}>
<a title="{$t3['catname']}" href="{$t3['url']}">{$t3['catname']}</a>
{if count(categories($t3['catid']))}
<ul class="five dropdown-menu">
{loop categories_nav($t3['catid']) $t4}
<li>
<a title="{$t4['catname']}" href="{$t4['url']}">{$t4['catname']}</a>
</li>
{/loop}
</ul>
{/if}
</li>
{/loop}
</ul>
{/if}
</li>
{/loop}
</ul>
{/if}
</li>
{/loop}
</ul>
{/if}
</li>
{/loop}
</ul>
</div>

