
<!-- Bootstrap bootstrap-touch-cslider Slider Main Style Sheet -->
      

<div id="bootstrap-touch-cslider" class="carousel bs-slider fade row control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">

		<!-- Indicators -->
		<ol class="carousel-indicators">
		{if get('cslide_number')=='1'}
<li data-target="#bootstrap-touch-cslider" data-slide-to="0" class="active"></li>
{elseif get('cslide_number')=='2'}
<li data-target="#bootstrap-touch-cslider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-cslider" data-slide-to="1"></li>
{elseif get('cslide_number')=='3'}
<li data-target="#bootstrap-touch-cslider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-cslider" data-slide-to="1"></li>
        <li data-target="#bootstrap-touch-cslider" data-slide-to="2"></li>
{elseif get('cslide_number')=='4'}
<li data-target="#bootstrap-touch-cslider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-cslider" data-slide-to="1"></li>
        <li data-target="#bootstrap-touch-cslider" data-slide-to="2"></li>
		<li data-target="#bootstrap-touch-cslider" data-slide-to="3"></li>
{else}
<li data-target="#bootstrap-touch-cslider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-cslider" data-slide-to="1"></li>
        <li data-target="#bootstrap-touch-cslider" data-slide-to="2"></li>
		<li data-target="#bootstrap-touch-cslider" data-slide-to="3"></li>
		<li data-target="#bootstrap-touch-cslider" data-slide-to="4"></li>
 {/if}


		</ol>

		<!-- Wrapper For Slides -->
		<div class="carousel-inner" role="listbox">


 {if get('cslide_number')=='1'}

<!-- Second Slide -->
			<div class="item  active">
				<!-- Slide Background -->
				<img  src="{get('cslide_pic1')}" alt="{get('cslide_pic1_title')}" class="slide-image">
			</div>
			<!-- End of Slide -->

{elseif get('cslide_number')=='2'}

<!-- Second Slide -->
			<div class="item  active">
				<!-- Slide Background -->
				<img  src="{get('cslide_pic1')}" alt="{get('cslide_pic1_title')}" class="slide-image">
			</div>
			<!-- End of Slide -->

			<!-- Second Slide -->
			<div class="item">
				<!-- Slide Background -->
				<img  src="{get('cslide_pic2')}" alt="{get('cslide_pic2_title')}" class="slide-image">
			</div>
			<!-- End of Slide -->


{elseif get('cslide_number')=='3'}

<!-- Second Slide -->
			<div class="item  active">
				<!-- Slide Background -->
				<img  src="{get('cslide_pic1')}" alt="{get('cslide_pic1_title')}" class="slide-image">
			</div>
			<!-- End of Slide -->

			<!-- Second Slide -->
			<div class="item">
				<!-- Slide Background -->
				<img  src="{get('cslide_pic2')}" alt="{get('cslide_pic2_title')}" class="slide-image">
			</div>
			<!-- End of Slide -->


			<!-- Second Slide -->
			<div class="item">
				<!-- Slide Background -->
				<img  src="{get('cslide_pic3')}" alt="{get('cslide_pic3_title')}" class="slide-image">
			</div>
			<!-- End of Slide -->

{elseif get('cslide_number')=='4'}

<!-- Second Slide -->
			<div class="item  active">
				<!-- Slide Background -->
				<img  src="{get('cslide_pic1')}" alt="{get('cslide_pic1_title')}" class="slide-image">
			</div>
			<!-- End of Slide -->

			<!-- Second Slide -->
			<div class="item">
				<!-- Slide Background -->
				<img  src="{get('cslide_pic2')}" alt="{get('cslide_pic2_title')}" class="slide-image">
			</div>
			<!-- End of Slide -->


			<!-- Second Slide -->
			<div class="item">
				<!-- Slide Background -->
				<img  src="{get('cslide_pic3')}" alt="{get('cslide_pic3_title')}" class="slide-image">
			</div>
			<!-- End of Slide -->

			<!-- Second Slide -->
			<div class="item">
				<!-- Slide Background -->
				<img  src="{get('cslide_pic4')}" alt="{get('cslide_pic4_title')}" class="slide-image">
			</div>
			<!-- End of Slide -->


{else}

<!-- Second Slide -->
			<div class="item  active">
				<!-- Slide Background -->
				<img  src="{get('cslide_pic1')}" alt="{get('cslide_pic1_title')}" class="slide-image">
			</div>
			<!-- End of Slide -->

			<!-- Second Slide -->
			<div class="item">
				<!-- Slide Background -->
				<img  src="{get('cslide_pic2')}" alt="{get('cslide_pic2_title')}" class="slide-image">
			</div>
			<!-- End of Slide -->


			<!-- Second Slide -->
			<div class="item">
				<!-- Slide Background -->
				<img  src="{get('cslide_pic3')}" alt="{get('cslide_pic3_title')}" class="slide-image">
			</div>
			<!-- End of Slide -->

			<!-- Second Slide -->
			<div class="item">
				<!-- Slide Background -->
				<img  src="{get('cslide_pic4')}" alt="{get('cslide_pic4_title')}" class="slide-image">
			</div>
			<!-- End of Slide -->

			<!-- Second Slide -->
			<div class="item">
				<!-- Slide Background -->
				<img  src="{get('cslide_pic5')}" alt="{get('cslide_pic5_title')}" class="slide-image">
			</div>
			<!-- End of Slide -->

 {/if}

		</div><!-- End of Wrapper For Slides -->


	</div>