{template 'header.html'}<div class="view-html">
	<div class="container-fluid clearfix layout_262063">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="column visual-slide">
				{template 'system/cslide.html'}
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_67908" style="margin-top: 15px; margin-bottom: 15px;">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="container clearfix layout_863630">
				<div class="row column">
					<div class="clearfix">
					</div>
					<div class="column visual-category-notifications">
						{template 'position.html'}
						<div class="clearfix">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid clearfix layout_338152">
		<div class="row column">
			<div class="clearfix">
			</div>
			<div class="container clearfix layout_106521">
				<div class="row column">
					<div class="clearfix">
					</div>
					<div class="col-md-3 layout_629438">
						<div class="row column">
							<div class="clearfix">
							</div>
							<div class="column visual-menu-list">
								<div id="metismenu">
									<ul class="metismenu" id="list-category">
										{loop categories_nav() $t}
										<li class="{if isset($topid) and $topid==$t['catid']}mm-active{/if}">
											 <a title=" {$t['catname']}" href=" {$t['url']}" aria-expanded="false">{$t['catname']} {if count(categories($t['catid']))}<span class="glyphicon arrow"></span> {/if}</a> {if count(categories($t['catid']))}
											<ul aria-expanded="false" class="mm-collapse">
												{loop categories_nav($t['catid']) $t1}
												<li>
													<a title=" {$t1['catname']}" href=" {$t1['url']}">{$t1['catname']}</a> {if count(categories($t1['catid']))}<span class="fa plus-times"></span> {/if} {if count(categories($t1['catid']))}
													<ul aria-expanded="false" class="mm-collapse">
														{loop categories_nav($t1['catid']) $t2}
														<li>
															<a title=" {$t2['catname']}" href=" {$t2['url']}">{$t2['catname']}</a>
														</li> {/loop}
													</ul> {/if}
												</li> {/loop}
											</ul> {/if}
										</li> {/loop}
									</ul>
								</div>
								<div class="clearfix">
								</div>
							</div>
							<div class="hr" style="margin-top: 15px; margin-bottom: 15px;">
							</div>
							<div class="column visual-search">
								<form name="search" action="/index.php?case=archive&act=search" method="post" class="search">
									<div class="col-lg-1">
									</div>
									<div class="col-lg-10">
										<div class="input-group">
											<input type="text" name="keyword" class="form-control" /> <span class="input-group-btn"> 
												<button class="btn btn-default" name="submit" type="submit">
													搜索
												</button></span>
										</div>
									</div>
									<div class="col-lg-1">
									</div>
								</form>
								<div class="clearfix">
								</div>
							</div>
							<div class="hr" style="margin-top: 15px; margin-bottom: 15px;">
							</div>
							<div class="column visual-text">
								<p>
									网站公告
								</p>
								<div class="clearfix">
								</div>
							</div>
							<div class="hr" style="margin-bottom: 20px;">
							</div>
							<div class="column">
								<div class="announ-list">
									<ol>
										{loop announ(5,20,1) $an}
										<li>
											{if is_date}
											<p class="badge announ-date">
												{$an['adddate']}
											</p>{/if}
											<p>
												<a title="{$an['title']}" href="{$an['url']}" target="_blank">{$an['title']}</a>
											</p>
										</li> {/loop}
									</ol>
								</div>
								<div class="clearfix">
								</div>
							</div>
							<div class="hr">
							</div>
							<div class="column visual-text">
								<p>
									联系我们
								</p>
								<div class="clearfix">
								</div>
							</div>
							<div class="hr">
							</div>
							<div class="column visual-contact">
								<p>
									地 址：{config::get('address')}
								</p>
								<p>
									邮政编码：{config::get('postcode')}
								</p>
								<p>
									电 话：{config::get('tel')}
								</p>
								<p>
									传 真：{config::get('fax')}
								</p>
								<p>
									手机：{config::get('mobile')}
								</p>
								<p>
									邮 箱：{config::get('email')}
								</p>
								<p>
									投诉邮箱：{config::get('complaint_email')}
								</p>
								<div class="clearfix">
								</div>
							</div>
							<div class="hr">
							</div>
						</div>
					</div>
					<div class="col-md-9 layout_707078">
						<div class="row column">
							<div class="clearfix">
							</div>
							<div class="col-md-12 layout_127825 text-left" style="padding-left: 45px;">
								<div class="row column">
									<div class="row">
										{loop $archives $i $archive} {if $i%3==0}
										<div class="clearfix">
										</div>{else}{/if}
										<div class="post-masonry col-xs-12 col-sm-6 col-md-4">
											 <a href="{$archive['url']}" class="img-auto"><img class="img-responsive" alt="{$archive['stitle']}" src="{$archive['thumb']}" onerror="this.src="{config::get(" /></a>
											<h5>
												{$archive['title']}
											</h5>
											<p>
												{lang('price')}：{lang('unit')}<span>{if $archive['attr2']}{$archive['attr2']}{else}{lang('not')}{/if}</span>
											</p>
										</div> {/loop}
										<div class="clearfix">
										</div>
									</div>
									<div class="column visual-list-page text-left">
										{if isset($pages)}
										<div class="blank30">
										</div> {category_pagination($catid)}
										<div class="blank30">
										</div> {/if}
										<div class="clearfix">
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix layout_876341 text-left" style="padding-left: 45px;">
							</div>
						</div>
					</div>
					<div class="clearfix layout_771955">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{template 'footer.html'}