

<div class="codearea">


<div id="timeline">
		#[#loop $archives $i $archive#]#

			<div class="timeline-item">
				<div class="timeline-icon">
					<span class="glyphicon glyphicon-time"></span>
				</div>
				<div class="timeline-content row#[#if $i%2==1#]# right#[#/if#]#">
					<h2>#[#$archive['title']#]#</h2>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
					<img class="img-responsive lazy" src="#[#$archive['thumb']#]#" alt="#[#$archive['stitle']#]#">
					</div>
					<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">	
					<p>#[#cut(strip_tags($archive['introduce']),50)#]#</p>
					<a href="#[#$archive['url']#]#" class="btn" target="_blank">#[#lang('more')#]#</a>
					</div>
				</div>
			</div>
#[#/loop#]#

<div class="clearfix"></div>
</div>
</div>
<div class="viewarea">


<div id="timeline">
<div class="timeline-item">
<div class="timeline-icon">
<span class="glyphicon glyphicon-time"></span>
</div>
<div class="timeline-content row">
<h2>内容标题一</h2>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
<img class="img-responsive" src="./images/admin/visual/temp/section/section-pic-1.jpg" />
</div>
<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
<p>内容简介又称内容大要、内容提要、内容摘要等。扼要介绍图书内容和读者对象的说明</p>
<a href="#" class="btn">了解更多</a>
</div>
</div>
</div>
<div class="timeline-item">
<div class="timeline-icon">
<span class="glyphicon glyphicon-time"></span>
</div>
<div class="timeline-content row right">
<h2>内容标题二</h2>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
<img class="img-responsive" src="./images/admin/visual/temp/section/section-pic-2.jpg" />
</div>
<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
<p>内容简介又称内容大要、内容提要、内容摘要等。扼要介绍图书内容和读者对象的说明</p>
<a href="#" class="btn">了解更多</a>
</div>
</div>
</div>
<div class="timeline-item">
<div class="timeline-icon">
<span class="glyphicon glyphicon-time"></span>
</div>
<div class="timeline-content row">
<h2>内容标题三</h2>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
<img class="img-responsive" src="./images/admin/visual/temp/section/section-pic-3.jpg" />
</div>
<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
<p>内容简介又称内容大要、内容提要、内容摘要等。扼要介绍图书内容和读者对象的说明</p>
<a href="#" class="btn">了解更多</a>
</div>
</div>
</div>
</div>



  <div class="clearfix"></div>
</div>

