<div class="codearea">


	#[#loop $archives $archive#]#
                <ul class="news-list">
                    <li><span class="pull-right badge date">#[#$archive[adddate]#]#</span><a title="#[#$archive['stitle']#]#" href="#[#$archive['url']#]#" target="_blank"
                           class="list_page_t">#[#$archive['title']#]#</a></li>
                </ul>
                #[#/loop#]#
    <div class="clearfix"></div>
</div>
<div class="viewarea">
    <ul class="news-list">
        <li>
            <a class="list_page_t">
			<span class="pull-right badge date">2018-01-01</span>
                内容标题一
            </a>
        </li>
        <li>
            <a class="list_page_t">
			<span class="pull-right badge date">2018-01-01</span>
                内容标题二
            </a>
        </li>
		<li>
            <a class="list_page_t">
			<span class="pull-right badge date">2018-01-01</span>
                内容标题三
            </a>
        </li>
		<li>
            <a class="list_page_t">
			<span class="pull-right badge date">2018-01-01</span>
                内容标题四
            </a>
        </li>
		<li>
            <a class="list_page_t">
			<span class="pull-right badge date">2018-01-01</span>
                内容标题五
            </a>
        </li>
		<li>
            <a class="list_page_t">
			<span class="pull-right badge date">2018-01-01</span>
                内容标题六
            </a>
        </li>
		<li>
            <a class="list_page_t">
			<span class="pull-right badge date">2018-01-01</span>
                内容标题七
            </a>
        </li>
		<li>
            <a class="list_page_t">
			<span class="pull-right badge date">2018-01-01</span>
                内容标题八
            </a>
        </li>
		</ul>
                <div class="clearfix"></div>

</div>